<!--<app-toolbar></app-toolbar>-->
<!--<div id="wrapper-content">-->
    <!--<app-sidebar></app-sidebar>-->
    <!--<main role="main">-->
        <!--<router-outlet></router-outlet>-->
    <!--</main>-->
<!--</div>-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>