<div class="main-content">
    <section class="hero">
        <app-hero></app-hero>
    </section>
    <section class="destination">
        <app-destination-carousel [destinations]="mainDestinationList | async"></app-destination-carousel>
    </section>
    <section class="testimonials">
        <app-testimonials></app-testimonials>
    </section>
    <section class="banner">
        <app-banner></app-banner>
    </section>
    <section class="features">
        <app-featured-activities></app-featured-activities>
    </section>
</div>
<app-calendar-slider></app-calendar-slider>
