@import 'variables'
@import 'rupture'

.hero
  background url(../../assets/images/bg-hero.jpg)
  background-size cover
  box-shadow 0 0 0 960px rgba(0, 0, 0, 0.25) inset
  color white
  height 100vh
  min-height 400px
  display flex
  align-items center
  text-align center
  justify-content center

.destination
  margin-top -300px

@media screen and (max-height:700px)
  .destination
    margin-top -200px

.features
  background-image url('../../assets/images/activities_bg.jpg')
  background-size cover
  background-position 50% 500px
  background-repeat no-repeat
  padding-top 106px
  padding-bottom 150px

.testimonials
  display flex
  justify-content center
  text-align center
  padding-top 90px
  padding-bottom 89px

.banner
  background-image url("../../assets/images/banner-bg.jpg")
  background-size cover
  background-position 50% 50%
  height 676px

