@import 'variables'
@import 'mixins'

img
  max-width 100%

p
  margin 0 0 20px
  +below(700px)
    br
      display none
  &last-child
    margin-bottom 0

.clearfix:after
    content ""
    display block
    clear both

.content
  overflow hidden
  flex 1

.text
  &-upper
    text-transform uppercase

  &-underline
    text-decoration underline

  &-center
    text-align center

  &-sup
    vertical-align super
    font-size 14px
    margin-right 5px

  &-left
    text-align left

  &-right
    text-align right

ul
  padding 0
  list-style none
  li + li
    margin-top 2px

.color
  &-red
    color red

  &-grey
    color grey

.flex
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex

  &-wrap
    flex-wrap wrap
    -webkit-flex-wrap wrap
    display -webkit-flex

  &-column
    flex-direction column
  &-grow
    flex-grow 1

.align
  &-items
      &-center
          align-items center

      &-end
          align-items end

      &-start
          align-items flex-start

  &-self-start
      -ms-flex-item-align start
      align-self flex-start

.justify-content
  &-self-center
      justify-self center

  &-between
      justify-content space-between
      -webkit-box-pack justify
      -moz-box-pack justify
      -ms-flex-pack justify
      -webkit-justify-content space-between

  &-end
      justify-content flex-end
      -webkit-box-pack end
      -moz-box-pack end
      -ms-flex-pack end
      -webkit-justify-content flex-end

  &-center
      justify-content center
      -webkit-box-pack center
      -moz-box-pack center
      -ms-flex-pack center
      -webkit-justify-content center

.icon
  transition all 0.3s

.hidden
  display none!important

.container
  width width-reg
  padding 0 20px
  margin 0 auto
  position relative

.section,section
  position relative

.section
  padding 40px 0
  &--features
    background-image url(../assets/images/activities_bg.jpg)
    background-size cover
    background-position 50% 500px
    background-repeat no-repeat

*[class*="js-"]
    cursor pointer

*[class*="js-block"],*[class*="js-end"]
    cursor initial

*[class*="js-block"]
    display none

.w
  &-100
    width 100%
  &-50
    width 50%
  &-40
    width 40%
  &-45
    width 45%
  &-55
    width 55%
  &-60
    width 60%

.p
  &l
    &-10
      padding-left 10px
    &-20
      padding-left 20px
    &-35
      padding-left 35px

  &r
    &-70
      padding-right 70px

  &t
    &-15
      padding-top 15px

  &b
    &-0
      padding-bottom 0

.m
  &t
    &-15
      margin-top 15px
    &-30
      margin-top 30px
    &-35
      margin-top 35px
    &-40
      margin-top 40px
    &-50
      margin-top 50px
    &-60
      margin-top 60px
    &-80
      margin-top 80px

  &b
    &-110
      margin-bottom 110px
      +below(900px)
        margin-bottom 40px
      +below(500px)
        margin-bottom 25px
    &-160
      margin-bottom 160px
    &-20
      margin-bottom 20px
    &-25
      margin-bottom 25px
    &-30
      margin-bottom 30px
    &-40
      margin-bottom 40px


