.modal
  width 800px
  border-radius 2px
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)
  background #ffffff
  font-family 'Roboto'
  visibility hidden
  opacity 0
  z-index 1000
  .btn
    width 100%
  .sign-btn
    margin-top 15px
  &--login
    .modal-wrap-content
      padding 0
    input[type="password"]
      padding-right 37px
    .form-group__btn-show-password
      right 11px
    .modal__title
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    .modal__subtitle
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      padding-right 50px
      +below(769px)
        padding-right 26px
      +below(425px)
        padding-right 42px

    .btn.mt-15
      width 304px
      +below(769px)
        width 284px
      +below(700px)
        width 100%
    +below(700px)
      .modal-wrap-content
        max-height 100%
        height 100%
  &--reset
    width 400px
    .modal-wrap-content
      padding 0
    .modal__title
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    .modal__subtitle
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    .modal__form
      padding 0 32px 66px 32px
    .modal__header
      padding 40px 48px 10px 48px
      flex-basis 100%
    .modal__content
      flex-direction column
    .modal__wrapper-btn
      text-align center
    .btn
      text-transform inherit
      width 304px
      font-size 12px
      font-weight 500
      font-family: 'Roboto', sans-serif;
      letter-spacing 0.06em
    +below(500px)
      width: 100%
      height: 100%
      overflow: hidden
      transform: none;
      top: 0;
      left: 0;

      .modal__close
        top: 0
        right: 0
        height: 50px
        width: 50px
        .icon-close
          fill blue
    +below(425px)
      .modal__header
        padding-right 10px
        padding-left 10px
      .modal__form
        padding-right 10px
        padding-left 10px
      .btn
        width 100%

  &--added
      max-width 1024px
      width 100%
      border-radius 5px
      box-shadow 0px 4px 25px rgba(0, 0, 0, 0.1)
      app-activity-card
        width 300px
        margin-right: 0
      +below(1150px)
        width auto
      +below(769px)
        width calc(100% - 75px)
        .modal-wrap-content
          padding-left 29px
          padding-right 29px
        .activities
          padding-bottom 45px
        .modal__btn-added
          justify-content space-between
          .btn
            width 310px !important

      +below(767px)
        margin 0
        width 100vw
        height 100vh
        border-radius 0
        display flex
        position: fixed;
        left: 0;
        top: 0;
        transform: none;
        margin 0 auto
        .modal-wrap-content
          margin 0 auto
          width 100%
          max-height 100%
      +below(425px)
        .modal-wrap-content
          padding-top 21px
          padding-left 10px
          padding-right 10px
        .modal__title
          padding 0 5px
      .icon-success
        margin auto
        display block
        fill transparent
        width 74px
        height 74px
        +below(767px)
          width 54px
          height 54px
      .modal__content
        overflow-y auto
        display block
        width: 100%
        +below(350px)
          padding-bottom 65px
      .modal__close
        +below(767px)
          top 0
          right 0
          .icon
            fill #000
      .modal__title
        margin-top 8px
        font-size 36px
        line-height 51px
        text-align center
        +below(769px)
          margin-top 30px
        +below(767px)
          margin-top 8px
          font-size 24px
          line-height normal
          margin-bottom 20px
      .modal__subtitle
        text-align center
        margin-bottom 25px
        line-height 25px
        font-size 18px
        font-family font-family-md
        color #000
        opacity 1
        +below(769px)
          margin-bottom 43px
        +below(767px)
          margin-bottom 25px
          display none
      .activities
        flex-wrap nowrap
        width 100%
        margin-bottom 0
        &__content
          margin-left 13px
          &-star
            margin-right 13px
        &__content-header
          padding-right 44px
        &__item
          max-width 300px!important
          margin-right calc((100% - 900px) / 2)
          position: relative;
          box-shadow: 0 4px 25px rgba(0,0,0,.1);
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          &:nth-child(3n)
            margin-right 0
          +below(1150px)
            margin 0 10px 0
            &:not(:nth-child(-n+2))
              display none
          +below(767px)
            margin: 0
            &:not(:first-child)
              display none
      .modal__btn-added
        .btn:first-child
          margin-right 10px
          +below(767px)
            margin-right 0px
            margin-bottom 10px
          +below(350px)
            margin-bottom 7px
        +below(767px)
          flex-direction column


  &__caption
    font-size 12px
    line-height 20px
    font-weight 400
    color rgba(0,0,0,.5)
    letter-spacing 0.06em
    a
      margin-left 5px

  &__close
    position absolute
    right -58px
    top -58px
    width 58px
    height 58px
    background-color transparent
    border none
    cursor pointer
    z-index: 1
    &:focus
      outline none
    .icon-close
      width 19px
      height 19px
      fill #fff

  &__find
    width: 50%
    flex: 1
    background-color #F5F4F5
    padding 46px 0
    padding-bottom 30px
    overflow-y: auto
    +below(700px)
      background-color #fff
    .login__block
      padding-left 34px

  &__sign
    width: 50%
    flex: 1
    background-color #fff
    flex-direction column
    padding 46px 0
    padding-bottom 35px
    overflow-y: auto

  &__find-booking-btn
    margin: 10px 0

  .modal-login-content
    display: flex
    position: relative

    .login-form
      flex: 1
    .btn
      text-transform: none

    +below(700px)
      display: block
      height: 100%;

      .show.modal__find
        animation: fromRight 0.5s forwards

      .hide.modal__sign
        animation: toLeft 0.5s forwards

  +below(1000px)
    &.modal--login
      width: calc(100% - 80px)
      .modal__close
        top: -45px
        right: -45px

    &__find,
    &__sign
      width: 50%
      flex: 1

  +below(1000px)
    &__sign,
    &__find
      padding: 48px 30px 35px

  +below(700px)
    &.modal--login
      width: 100%
      height: 100%
      overflow: hidden
      transform: none;
      top: 0;
      left: 0;

      .modal__close
        top: 0
        right: 0
        height: 50px
        width: 50px
        .icon-close
          fill blue

    &__sign,
    &__find
      position: absolute
      width: 100%
      height: 100%

    &__find
      left: 100%
    &__sign
      left: 0

  +below(400px)
    &__sign,
    &__find
      padding: 35px 10px 15px


  &__block
    padding 0 48px
    flex-direction column

  .find-booking-title
    flex-direction column
    padding-left: 35px

  &__title
    font-size 20px
    color #000
    padding-bottom 5px
    font-family font-family-md

  &__subtitle
    font-size 14px
    line-height 20px
    color #000
    opacity .5

  &__header
    flex-direction column
    min-height 70px
  &__or
    margin-top 16px
    font-weight 400
    text-align center
    text-transform uppercase
    letter-spacing 2px
    font-size 10px
    color rgb(58, 42, 81,.5)
    width 100%
    position relative
    margin-bottom 17px
    opacity 0.5
    &:after,&:before
      content ''
      width calc(50% - 20px)
      height 1px
      background-color #D0D4D9
      display inline-block
      position absolute
      top 50%
      transform translateY(-50%)
    &:after
      right 0
    &:before
      left 0

  &__form
	  padding 0 33px
  &__wrapper
	  padding 0px 15px
  +below(1000px)
    &__form,
    &__wrapper,
    &__block,
    .find-booking-title
      padding: 0

	&.open
		opacity 1
		visibility visible

.facebook-btn, .google-btn
	min-height 48px
	border-radius 2px
	width calc(50% - 2.5px)
	display flex
	align-items center
	padding-left 16px
	margin-bottom 14px
	.icon
		fill #fff
	span
		padding-left 16px
		font-size 12px
		color #fff
		font-weight 500
		letter-spacing 0.06em
.facebook-btn
	background-color #3B5998
	.icon-fb-btn
		width 7px
		height 14px
.google-btn
	background-color #4285F4
	.icon-google-btn
		width 14px
		height 14px
.sign-btn
	border-radius 2px
	min-height 48px
	width 100%
	margin-top 19px
	&:hover
    box-shadow 0px 4px 10px rgba(0, 134, 230, 0.58)
    background-color blue
    color #fff


.modal-wrap
	position fixed
	background-color rgba(0, 0, 0, 0.69)
	top 0
	left 0
	bottom 0
	right 0
	width 100%
	height 100%
	z-index 100
	visibility hidden
	opacity 0
	transition all 0.25s ease-in-out
	&.open
		opacity 1
		visibility visible
.modal-wrap-content
  padding 32px 34px 37px
  +below(767px)
    padding 32px 10px 37px 10px
@media screen and (max-height:850px)
  .modal-wrap-content
    max-height calc(100vh - 100px)
    overflow-y auto
@media screen and (max-height:700px)
  .modal-wrap-content
    padding-bottom 120px
  .modal--added .modal__btn-added
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index 1

    .btn
      width 100% !important
      border-radius 0
      &:first-child
        margin-bottom 0
@keyframes toLeft
  0%
    left: 0

  99%
    left: -100%

  100%
    opacity: 0
    left: -100%

@keyframes fromRight
  0%
    opacity: 0
    left: 100%

  2%
    opacity: 1
    left: 100%

  100%
    left: 0

.show
  opacity 1
  visibility visible

.modal-backdrop
  position fixed
  background-color rgba(0, 0, 0, 0.69)
  top 0
  left 0
  bottom 0
  right 0
  width 100%
  height 100%
  z-index 120
  visibility hidden
  opacity 0
  transition all 0.25s ease-in-out
  &.show
    opacity 1
    visibility visible