@import 'variables'
@import 'mixins'

html
  box-sizing border-box

*,
*before,
*after
  box-sizing inherit

disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.clearfix:after
    content ""
    display block
    clear both

a
  -webkit-text-decoration-skip ink
  text-decoration-skip ink

.visuallyhidden:not(:focus):not(:active)
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

.svg-sprite
  display none

body
  font-family font-family-reg
  font-size 16px
  line-height normal
  color #2B2B2B
  display flex
  min-height 100vh
  flex-direction column
  font-weight 300
  &.fixed
    overflow-y hidden!important
    height 100%
    position fixed
    width 100%

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  margin 0 0 15px
  font-weight 400
  letter-spacing 0px
  word-spacing 0px
  line-height normal
  &:last-child
    margin-bottom 0

.lh-0
  line-height 0

h1,.h1
  font-family font-family-md
  font-size 42px

h2,.h2
  color #000
  font-size 36px
  margin-bottom 50px
  font-family font-family-md
  text-align center
  +below(1030px)
    font-size 30px
  +below(769px)
    margin-bottom 38px
    font-size 24px
  +below(767px)
    margin-bottom 32px

h3,.h3
  font-family font-family-md
  font-size 24px

h4,.h4
  font-size 20px

h5,.h5
  font-size 18px

a
  color blue
  text-decoration none
  transition all 0.3s
  &:hover
    text-decoration none
    color #000


.btn
  outline 0
  border 0
  font-size 12px
  display inline-block
  text-decoration none
  transition all 0.3s
  font-family 'Roboto'
  font-weight 500
  text-align center
  padding 17px 15px
  border-radius 2px
  letter-spacing 0.1em
  text-transform uppercase
  color #fff
  background-color blue
  width 172px
  cursor pointer
  &:hover
    background-color blue
    box-shadow: 0 3px 13px rgba(0, 134, 230, 0.58);
    color #fff
  &:focus
    outline 0
  &--reset
  	cursor default
  	&:hover
      box-shadow none
  &--dark-hover
  	&:hover
      background-color dark-blue
      color #fff
      box-shadow none
  &-wrap
    margin-top 30px
    +below(789px)
      margin-top 39px
    +below(500px)
      margin-top 21px
  &--submit
    margin-top 30px
    width 304px
  &--destination
    width 236px
    margin-top -4px
  &--full
    width 100%
  &--round
    border-radius 20px
  &--offers
    width 172px
    color #fff
  &--center
    margin 0 auto
    display block
  &--dropdown
    font-size 14px
    display block
    padding 25px 15px
    border-radius 0
    width auto
    &:hover
      background-color dark-blue
      color #fff
      box-shadow none
  &--big
    width 300px !important
    padding 0
    display flex
    align-items center
    justify-content center
    height 60px
    font-size 16px
    +below(480px)
      height 48px
  &--reverse
    border 1px solid blue
    box-sizing border-box
    background-color #fff
    color blue
  &--360
    width 360px
  &--center
    margin 0 auto
  &--play
    width 100px
    height 100px
    border-radius 50px
    background white
    display flex
    align-items center
    justify-content center
    .icon
      width 30px
      height 30px
      fill blue
      margin-left 10px
    +below(1030px)
      width 68px
      height 68px
      .icon
        width 16px
        height 19px
        margin-left 5px

    &:hover
      background white
      box-shadow none
      .icon
        transform scale(1.3)
        cursor pointer

    &:focus
      outline 0
  &--search
    cursor pointer
    text-transform normal
    width 265px
    height 78px
    font-size 18px
    letter-spacing 0.06em
    border-radius 2px
    display flex
    justify-content center
    align-items center
    &:hover
      box-shadow none
      text-decoration none
      background dark-blue
    +below(1030px)
      width 248px
    +below(600px)
      height 58px
      width 64px
    .icon
      width 26px
      height 26px
      fill-opacity 0
      padding-left 8px
  &--transparent
    background: transparent
    border: 2px solid blue
    color: blue
  &__ttl
    padding-top 2px
    padding-left 10px
    letter-spacing 0.06em
    text-transform lowercase
    &:first-letter
      text-transform uppercase
    +below(600px)
      display none

.input
  font-family 'Roboto'
  font-size 18px
  padding 9px 10px
  border none
  &--search
    height 78px
    border-radius 2px
    flex 1
    padding-left 51px
    padding-right 51px
    +below(600px)
      height 58px
      padding-left 15px
      padding-right 0
      flex-grow 1
  &--activities-icon
    width 100%
    padding 23px 70px 23px 70px
    box-shadow 0px 4px 50px rgba(0, 0, 0, 0.05)
    background #fff  url(../assets/images/selectize-search.svg) no-repeat
    background-position 33px 50%
    font-family 'Roboto', sans-serif
    font-size 14px
    font-weight 400
  &--select
    flex-grow 1
    padding 7px
    border 0 !important
    appearance none
    outline none
    background  url(../assets/images/icon-arrow-select.svg) no-repeat calc(100% - 25px)
    width 100%
  &-select-wrap
    position relative
    text-align left
    &__input
      &.focused
        box-shadow 0 0 10px rgba(0,0,0,0.1)
        background #fff  url(../assets/images/icon-search.svg) no-repeat 10px center
        width calc(100% - 40px)
    .dropdown-menu
      width calc(100% - 40px)
      position absolute
      box-shadow 0 5px 10px rgba(0,0,0,0.1)
      top 100%!important
      left 0!important
      background #fff
      z-index 1
      max-height 400px
      overflow-y auto
      border-top 1px solid #d0d4d9
      .dropdown-item
        cursor pointer
        width: 100%
        background: transparent
        display: block
        -webkit-box-shadow: none
        box-shadow: none
        border: 0
        border-top: 1px solid #d0d4d9
        padding: 15px 28px 15px 56px
        text-align: left
        font-size: 14px
        font-family: Roboto
        font-weight: 300
        letter-spacing: 0px
        outline: none
        .ngb-highlight
          font-weight: 300
        &:first-child
          border-top 0

.is-mobile

.is-mobile
  +above(700px)
    display: none

.list
  margin 0
  &--circle
    li
      margin 0
      padding-left 20px
      line-height 25px
      font-size 18px
      color #000
      margin-bottom 28px
      position relative
      font-family font-family-reg
      +below(500px)
        margin-bottom 11px
      &:before
        content ''
        width 10px
        height 10px
        display inline-block
        background blue
        border-radius 50%
        position absolute
        top 2px
        left 0
        margin-top 5px
      &:last-child
        padding-bottom 0
      +below(767px)
        font-size 16px

  &--price
    margin 0
    margin-bottom 39px
    margin-top 23px
    padding-right 41px
    +below(767px)
      padding-right 15px
      padding-top 5px
      margin-bottom 29px
    .list__item
      margin 0
      display flex
      width 100%
      justify-content space-between
      align-items center
      border-bottom 1px solid rgba(0,0,0,.1)
      padding-bottom 7px
      margin-bottom 32px
      &:last-child
        margin-bottom 0
      +below(767px)
        margin-bottom 33px

      .list__city
        line-height 25px
        font-size 18px
        color #000
        font-family font-family-reg
      .list__value
        font-size 18px
        line-height 20px
        color blue
        font-family: 'Roboto', sans-serif
        font-weight 400
  &--navigation
    list-style none
    display flex
    margin 0
    width 100%
    align-items center
    justify-content center
    li + li
      margin-left 124px
      +below(1100px)
        margin-left auto
      +below(769px)
        margin-left 50px
      +below(766px)
        margin-left auto
    li
      position relative
      a
        font-size 21px
        +below(769px)
          font-size 18px
        color rgba(0,0,0,0.5)
        font-family font-family-md
        &:hover
          color #000
      &:after
        content ''
        display inline-block
        width 6px
        height 6px
        border-radius 50%
        background-color #000
        opacity .5
        vertical-align middle
        position absolute
        right -64px
        top 50%
        margin-top -3px
        +below(1100px)
          right -44px
        +below(834px)
          right -28px
        +below(769px)
          right -31px
      &:last-child
        &:after
          display none

.block-slider
  position relative
  margin 0 auto
  &.active
    .block-slider__btn
      display flex
  +below(1405px)
    width 855px
    .block-slider .list-city li
      margin 0 10px
  +below(1220px)
    width 570px
  +below(658px)
    width 285px
  .block-slider__btn
    position absolute
    top 88px
    z-index 20
    border none
    outline none
    background-color blue
    border-radius 50%
    width 59px
    height 59px
    align-items center
    justify-content center
    cursor pointer
    transition all .2s
    display none
    &:focus
      outline none
    &:hover
      background-color dark-blue
    +below(1030px)
      top 73px
    +below(720px)
      width 38px
      height 38px
      top 50%
      transform translateY(-21px)
      margin-top -19px
    &.btn-next
      right -93px
      margin-left 4px
      +below(1030px)
        right -67px
      +below(769px)
        right -62px
      +below(767px)
        right -33px
      +below(720px)
        right -6px
        transform translateY(-21px)
    &.btn-prev
      left -93px
      margin-right 4px
      +below(1030px)
        left -67px
      +below(769px)
        left -58px
      +below(767px)
        left -33px
      +below(720px)
        left -6px
    .icon
      width 20px
      height 20px
      flll blue
      +below(720px)
        width 13px
        height 13px

  .list-wrapper
    position relative
    margin 0 auto
    overflow hidden
  .list-city
    margin 0
    margin 0 auto
    white-space nowrap
    position relative
    max-width 1120px
    &__content
      position absolute
      width 100%
      height 100%
      padding 0 30px 37px 33px
      display flex
      align-items flex-end
      background rgba(118, 54, 255, 0.9)
      opacity 0
      transition opacity 0.4s
      .icon-star-dastination
        fill rgba(255, 255, 255, 0.3)
        width 12px
        height 12px
        margin-right 2px
      .icon-star-dastination--active
        fill #fff
    &__item
      position relative
      margin-right calc((100% - (265px * 3)) / 3)
      +below(1173px)
        margin-right calc(100% - (265px * 2))
    &__title
      font-family font-family-md
      font-size 20px
      line-height 28px
      color #fff
      position absolute
      top 26px
      left 33px
      text-transform uppercase
      z-index 3
      +below(1030px)
        top 28px
        left 34px
    &__travelers
      font-size 16px
      line-height 20px
      color #fff
      font-family 'Roboto', sans-serif
      padding-bottom 13px
    &__score
      font-size 18px
      line-height 20px
      color #fff
      font-family 'Roboto', sans-serif
      margin-left 12px
      margin-right 10px
    &__reviews
      font-size 12px
      line-height 17px
      color rgba(255, 255, 255, 0.5)
      font-family font-family-reg
    li
      margin 0
      width 265px
      height 352px
      display inline-block
      background-color blue
      margin-right  calc((100% - 1080px) / 2)
      &:last-child
        margin-right 0
      +below(1405px)
        margin 0 10px
      a
        display block
        width 100%
        height 100%
        position relative
        z-index 2
        background-size cover !important
        &:after
          content ''
          position absolute
          width 100%
          height 100%
          display block
          background linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0)100%)
          top 0
          left 0
        &:hover
          .list-city__content
            opacity 1
  &--destination
    +below(769px)
      margin-bottom 77px !important
    +below(430px)
      margin-bottom 96px !important
    .block-slider__btn.btn-next
      +below(769px)
        width 38px
        height 38px
        top 50%
        margin-top -32px
        right -40px
        .icon
          width 15px
          height 11px
      +below(430px)
        right -6px
        transform translateY(11px)
    .block-slider__btn.btn-prev
      +below(769px)
        width 38px
        height 38px
        top 50%
        margin-top -32px
        left -40px
        .icon
          width 15px
          height 11px
      +below(430px)
        left -6px
        transform translateY(11px)
    .list-city li
        width 360px
        height 316px

      .list-city__item
        margin-right calc((100% - (360px * 3)) / 3)
        +below(1173px)
          margin-right calc((100% - (265px * 2)) / 1)
    +below(1405px)
      width 960px
      .list-city li
        width 300px
    +below(1272px)
      width 640px
    +below(866px)
      width 640px
      .list-city li
        width 300px
    +below(769px)
      margin-bottom 75px
    +below(767px)
      width 289px
      .list-city li
        width 269px
        height 284px
.radio
  input
    position absolute
    opacity 0
    cursor pointer
  &--time
    margin-bottom 0
    input
      &:checked
        + .radio__label
          background blue
          color #fff
          .radio__ttl,.radio__time
            color #fff
          .radio__time
            span
              border-color rgba(255, 255, 255, 0.1)
    & ^[0]__label
      transition all 0.3s
      display block
      width auto
      width 65px
      padding 15px 5px
      text-align center
      position relative
      cursor pointer
      font-size 12px
      user-select none
      font-family 'Roboto'
      font-weight 300
      color #000
      margin 0
      +below(1165px)
        padding 15px 0
      +below(1023px)
        padding 15px 5px
      +below(1165px)
        padding 15px 0px
      &:last-child
        margin-bottom 0
    & ^[0]__ttl
      opacity 0.5
      margin-bottom 8px
    & ^[0]__time
      color #000
      display block
      span
        display inline-block
        padding 2px 5px
        border-bottom 1px solid rgba(0, 0, 0, 0.1)
        &:last-child
          border-bottom 0
    span
      display block

.checkbox
  input
    position absolute
    opacity 0
    cursor pointer
  &--circle
    label
      display block
      position relative
      cursor pointer
      font-size 16px
      line-height 20px
      user-select none
      padding-left 30px
      font-family 'Roboto', sans-serif
      font-weight 400
      color #000
      margin-bottom 23px
      &:last-child
        margin-bottom 0
      input
        &:checked  ~ span
          border-color blue
          opacity 1
          &:after
            content ''
            display block
            width 6px
            height 6px
            background-color blue
            position absolute
            top 50%
            left 50%
            margin-top -3px
            margin-left -3px
            border-radius 50%
      span
        position absolute
        top 50%
        margin-top -8px
        left 0
        width 16px
        height 16px
        border 2px solid #251731
        border-radius 50%
        box-sizing border-box
        opacity .3

  &--square
    label
      display block
      position relative
      cursor pointer
      font-size 16px
      line-height 20px
      user-select none
      padding-left 30px
      font-family 'Roboto', sans-serif
      font-weight 400
      color #000
      margin-bottom 23px
      &:last-child
        margin-bottom 0
      input
        &:checked  ~ span
          border-color blue
          opacity 1
          &:after
            content 'x'
            display block
            width 6px
            height 6px
            color blue
            position absolute
            top -1px
            left 5px
            margin-top -3px
            margin-left -3px
      span
        position absolute
        top 50%
        margin-top -8px
        left 0
        width 16px
        height 16px
        border 2px solid #251731
        box-sizing border-box
        opacity .3

::-webkit-input-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
::-moz-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
:-ms-input-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px
:-moz-placeholder
  color #B3B3B3
  font-size 16px
  font-weight 300
  font-family 'Roboto'
  +below(400px)
    font-size 14px

.search-activities
	position relative
	display flex
	align-items center
	margin-bottom 28px
	.selectize-search
		position absolute
		left 47px
		top 50%
		margin-top -7px
		width 14px
		height 14px
		fill transparent

.sidebar-wrap
	justify-content flex-start
	&__content
		flex-grow 1
	&--reverse
		flex-direction row-reverse
		.sidebar
			margin-right 0
			width 304px
			flex-shrink 0
		.sidebar__item
			width 304px !important
		.sidebar-wrap__content
			margin-right 74px
			flex-grow 1
			+below(1200px)
				margin-right 30px
			+below(1020px)
				margin-right 0

.sidebar
	width 361px
 box-sizing content-box
	margin-right 19px
	flex-shrink 0
	transition all 0.4s
	.sidebar__item
		width 361px
 .filter-submit
   display none
   margin-top 20px
   margin-left 20px
   margin-right 20px
   width auto
   +below(1020px)
    display block
   +below(480px)
    position fixed
    bottom 0
    margin 0px
    width 100%
    z-index 1
    left 0
    right 0
 .filter-mobile
    margin 0
    height 60px
    color #000
    border-bottom: 1px solid rgba(0,0,0,.1);
    position fixed
    z-index 1
    top 0
    left 0
    width 100%
    background #fff
    .icon
      stroke blue
    +below(480px)
      display flex
  &__close
    position fixed
    z-index 2
    top 18px
    right 10px
    cursor pointer
    display none
    .icon
      width 24px
      height 24px
      fill #000
    +below(480px)
      display block
      width 60px
      height 60px
      top 0
      right 0
      .icon
        margin-left 19px
        margin-top 19px
  .fixed-button
    display none
	+below(1165px)
		width 330px
		.sidebar__item
			width 330px
	+below(1020px)
    width 361px
    position fixed
    transform translateX(-361px)
    top 0
    left 0
    margin-right 0
    z-index 105
    height 100vh
    background #fff
    .sidebar__item
    	width 361px
    &.open
      transform translateX(0px)
    +below(480px)
      box-sizing inherit
    .sidebar__item
      overflow-y auto
      margin-bottom 0!important
      height: 100%;
      display flex
      flex-direction column
      justify-content space-between
      padding-bottom 20px
      +below(480px)
        padding-top 60px
        //padding-bottom 50px
        width:  100vw;
        height:  100vh;
        position:  fixed;
        left:  0;
        top:  0;

    > *:not(.is-visible-mobile)
      display none
    +below(480px)
      padding 0
      width 100%
      transform: translateX(-110%);
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 101;
      .fixed-button
        position fixed
        bottom: 0
        left 0
        z-index: 1;

	&__ttl
		text-transform uppercase
		font-size 15px
		font-family font-family-md
	&__item:first-child
		margin-bottom 50px
	&__item:last-child
		.sidebar__ttl
			margin-top 63px

.review
  font-family Roboto, sans-serif
  margin-bottom 37px
  letter-spacing 0
  &:last-child
    margin-bottom 0
  &__ttl
    margin 20px 0 6px 0
    color blue
    font-weight 700
    font-size 18px
  &__content
    font-family font-family-reg
    font-size 14px
    line-height 20px
  p
    margin-bottom 15px
  &__name
    color grey
    font-size 16px
    margin-left 4px
    font-family font-family-reg

.form-group
  position: relative
  background-color transparent
  margin-bottom 0px
  flex-direction column
  margin-top 0px
  &__forgot
    font-size 12px
    letter-spacing 0.06em
    color #B3B3B3
    margin-left auto
  &__placeholder
    font-weight 400
    font-size 10px
    text-transform uppercase
    color #000
    opacity .4
    letter-spacing 1px
    width 100px
    margin-top 2px
    white-space nowrap
    font-family Roboto
    padding-left 18px
    text-align left
    + *
      flex-grow 1
  .booking-placeholder
    width 118px
    white-space nowrap
  &__block
    border-bottom 1px solid #D0D4D9
    +below(600px)
      padding-left: 0
      padding-right: 0
  input
    flex-grow 1
    font-weight 300
    font-family Roboto
    line-height 20px
    font-size 14px
    color #000
    border none
    background-color transparent
    padding 17px 28px 17px 28px
  &__btn-show-password
    width 24px
    height 24px
    cursor pointer
    opacity .3
    transition all .2s
    position absolute
    top 14px
    z-index 1
    right 25px
    &:hover
      opacity 1
    .icon-show-password
      width 24px
      height 24px
      fill none
  &.error-input
    .form-group__block
      border-bottom 1px solid blue
    .error
      display block
  &--long
    width 100%
    .form-group__placeholder
      width 135px
    input
      padding 17px 28px 17px 56px
    .input-select-wrap
      &__input
        &.focused
          background #fff  url(../assets/images/icon-search.svg) no-repeat 17px

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  background transparent!important

.modal .form-group
  margin-bottom 10px
  margin-top 2px

.error
  display none
  font-size 12px
  letter-spacing 0.06em
  color blue
  flex 1

.checkbox-wrap
  .error-wrap
    padding 0
    margin-top 10px

.error-wrap
  transition all .3s
  padding 0 18px
  margin-bottom 2px
  .error
    text-align: left
  > *
    margin-top 5px

+below(1000px)
  .form-group__block
    padding-left 0
    padding-right 0
  .error-wrap
    padding-left: 0

.form
  &__ttl
    margin-bottom 18px
    display flex
    justify-content center
  &__section
    width 100%
    &:not(:last-child)
      margin-bottom 70px
      +below(600px)
        margin-bottom: 24px
  &--signup
    padding-top 24px
    display flex
    flex-direction column
    align-items center
    max-width 550px
    margin auto
    +below(600px)
      padding-top: 10px
    .form-group
      &__placeholder
        +below(600px)
          width: 130px
        +below(370px)
          width: 90px
    .form__ttl
      margin-bottom 20px

    .additional-info
      +above(600px)
        .form__ttl
          margin-bottom 28px

    .checkbox-wrap
      margin-left: 18px
      +below(600px)
        margin-left: 0

    .btn--submit
      text-transform: none
      font-size: 11px
      letter-spacing: 1.2px

      +below(600px)
        margin-top: 50px


  .icon-signup-lock
    width 22px
    height 22px
    fill-opacity 0
    margin 4px 9px 0 0
    +below(600px)
      margin-top: 0

  .icon-user-form
    width 20px
    height 20px
    fill-opacity 0
    margin 5px 10px 0 0
    +below(600px)
      margin-top: 0

.checkbox-wrap
  font-size 13px
  letter-spacing .01em

  input[type=checkbox]
    display: none
  label
    position relative
    padding-left: 31px
    margin-bottom: 0
    &:before
      content ''
      position: absolute
      top 0
      left 0
      height 16px
      width 16px
      background #0086e6
      border-radius 4px
      cursor pointer
    &:after
      position absolute
      opacity 0
      content ''
      width 9px
      height 6px
      background transparent
      top 4px
      left 4px
      border 2px solid white
      border-top none
      border-right none
      transform rotate(-50deg)
  input[type=checkbox]:checked + label:after
    opacity 1
.options-counter
  display flex
  margin-top 12px
  &__items
    display flex
    font-family: 'Roboto', sans-serif;
    font-weight 500
    font-size 15px
    color #fff
    letter-spacing 0.01em
    margin-right 53px
    &:nth-child(2)
      margin-right 63px
      +below(769px)
        margin-right 35px
    &:last-child
      margin-right 0
    +below(769px)
      margin-right 31px

  .icon
    width 20px
    height 20px
    fill transparent
    stroke-opacity 0.3
    margin-right 10px
    &.clock
      margin-right 5px
    &-language
      margin-right 11px
.reviews
	margin-right 14px
	&__desc
		font-family: 'Roboto', sans-serif;
		line-height 21px
		font-size 14px
		font-weight 400
		color #fff
	&__star
		display flex
		margin-bottom 6px
		.active
			fill #fff !important
.icon-score
  display flex
  align-items center
  &__star
    display flex
    margin-left 5px
  &__score
    font-family: 'Roboto', sans-serif;
    font-size 18px
    line-height 20px
    color #2B2B2B
    font-weight 400
    margin-right 8px

.card-comment
	background-color #fff
	padding 24px 34px 33px 34px
 &--sm
   margin-top 18px
   padding 20px 10px 30px 21px
   box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
   border-radius 2px
   .card-comment__title
     margin 0
     .card-comment__name
       font-family: 'Roboto', sans-serif;
       font-size 14px
       line-height 21px
       color #000
       font-weight 500
       margin-right 10px
      .card-comment__place
        font-family: 'Roboto', sans-serif;
        font-size 14px
        line-height 21px
        color rgba(0,0,0,.3)
        font-weight 400
  .card-comment__content
    font-size 12px
    font-family: 'Roboto', sans-serif;
    line-height 17px
    color rgba(0,0,0,.7)
    font-weight 400
    margin-top 14px
  .icon-score
    margin-top 12px
  .icon-score__star
    margin-left 0
	&__img
		width 72px
		height 72px
		border-radius 50%
		background-color #F2C94C
	.icon-people
		width 36px
		height 24px
		fill #fff
	&__title
		margin-top 13px
		margin-left 23px
	&__name
		display inline-block
		font-family: 'Roboto', sans-serif;
		font-weight 500
		color #000
		line-height 21px
		font-size 18px
	&__place
		display inline-block
		font-family: 'Roboto', sans-serif;
		font-weight 400
		color rgba(0,0,0,.3)
		line-height 21px
		font-size 14px
	&__subtitle
		font-family: 'Roboto', sans-serif;
		font-size 16px
		line-height 21px
		color #000
		margin-top 4px
	&__caption-right
		margin-top 12px
		margin-right 53px
	&__desc
		margin-top 27px
		font-family: 'Roboto', sans-serif;
		font-size 16px
		line-height 21px
		color rgba(0,0,0,.7)
		font-weight 400
	&__data
		font-family: 'Roboto', sans-serif;
		font-size 14px
		line-height 21px
		color rgba(0,0,0,.3)
		font-weight 400
		margin-top 10px
.card-comment +	.btn
	margin-top 21px
.activity-directions
  .icon
    fill blue
    height 16px
    width 16px
    margin-left 45px
  &__row
    display flex
    justify-content space-between
    padding-bottom 14px
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    padding-top 10px
    &:first-child
      padding-top 0
  &__from
    font-size 18px
    line-height 22px
    color #000
    font-family font-family-reg
    flex-basis 100px
  &__to
    font-size 18px
    line-height 22px
    color #000
    font-family font-family-reg
    flex-basis 100px
    margin-left 49px
  &__price
    font-family: 'Roboto', sans-serif;
    line-height 20px
    font-size 18px
    color blue
  .btn
    margin-top 30px
.gallery-wrap
  width 740px
  height 503px
  .gallery
    width 100%
    height 100%
    display flex
    flex-direction column
    &__top
      position relative
      height 75%
    &__bottom
      height calc(25% - 23px)
      margin-top 23px
      margin-bottom 0
      width 100%
      position relative
      display inline-block
    &__thumbnails-wrapper
      width 100%
      height 100%
      position absolute
      overflow hidden
    &__thumbnails
      width 100%
      height 100%
      position absolute
      left 0
    &__thumbnails-image
      width calc(25% - 14px)
      height calc(100% - 0px)
      background-size cover !important
      background-position center !important
      background-repeat no-repeat !important
      position absolute
      top calc(0% + 0px)
      border-radius 2px
    &__image-wrapper
      width 100%
      height 100%
      background-color blue
      position absolute
      top 0
      left 0
      overflow hidden
      border-radius 2px
    &__image
      height 100%
      width 100%
      position absolute
      top 0
      background-position center !important
      background-repeat no-repeat !important
      z-index 10
      background-size cover !important
    &__btn
      z-index 11
      width 28px
      height 28px
      border-radius 50%
      background-color #fff
      position absolute
      top 50%
      transform translateY(-50%)
      display flex
      align-items center
      justify-content center
      transition all .4s
      cursor pointer
      &:hover
        background-color blue
        .icon
          stroke #fff
      .icon
        width 10px
        height 10px
        fill transparent
        stroke #0086E6
        stroke-width 2
        transition all .4s
      &.next
        right 16px
        .icon
          transform rotate(180deg)
          margin-right -3px
      &.prev
        left 13px
        .icon
          margin-right 1px
    &__popup-photos
      font-size 30px
      color #fff
      line-height 20px
      font-family font-family-reg
      position absolute
      bottom 11px
      left 13px
      z-index 2
      span
        font-size 14px
        letter-spacing 0.5px
    .btn-popup
      &:after
        content ''
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73))
        width 100%
        height 100%
        display block
        position absolute
        z-index 0


.activities app-activity-card {
    max-width: 360px;
    margin-right: calc((100% - (360px * 3)) / 2);
}