@import 'rupture'
@import 'variables'

/deep/.icon-star
  width 12px
  height 12px
  fill rgba(196, 196, 196, 0.3)
  margin-right 4px !important
  &.active
    fill #F5C973

/deep/.popover
  position: absolute;
  display: block;
  margin-bottom: .5rem;
  top: 0;
  left: 0;
  z-index: 1060;
  max-width: 276px;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  .arrow
    position: absolute;
    display: block;
    left: 50%;
    bottom: calc((.5rem + 1px) * -1);
    width: 1rem
    height: .5rem
  .popover-header
    display none
  .popover-body
    padding 5px

.destination-hero
  min-height 439px
  background-size cover
  background-position 50% 50%
  position relative
  &:before
    content ''
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    display block
    background linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(180deg, rgba(14, 18, 41, 0.77) 0%, rgba(14, 18, 41, 0) 97.09%)
    z-index 0
  +below(769px)
    min-height 395px
  +below(430px)
    min-height 249px
  .container
    padding-top 87px
    +below(769px)
      padding-top 103px
      padding-left 41px
    +below(430px)
      padding-top 125px
      padding-left 23px
  &__heading
    font-size 56px
    line-height 79px
    min-height 158px
    font-family font-family-md
    color #fff
    text-transform uppercase
    padding-top 6px
    padding-right 200px
    +below(1024px)
      padding-right 100px
    +below(820px)
      padding-right 0
    +below(769px)
      padding-right 50px
    +below(430px)
      font-size 30px
    &--sm
      +below(769px)
        font-size 48px
        line-height 62px
  &__counter
    position absolute
    bottom 69px
    right 25px
    +below(800px)
      display none
    &--activity
      width 100%
      position static
      margin-top 48px
      .destination-hero__item:first-child
        margin-right 0
      .destination-hero__item:last-child
        align-items flex-start
        margin-right 0
      +below(800px)
        display flex
      +below(769px)
        margin-top 52px
        padding-right 28px
      .destination-hero__score
        color #fff
        font-family: 'Roboto', sans-serif;
        font-weight 700
        line-height 31px
        font-size 48px
        letter-spacing 0.5px
    &--city
      width 100%
      position static
      display flex
      justify-content space-between
      margin-top 112px
      padding-right 8px
      +below(769px)
        display none
      .destination-hero__item
        span
          font-size 24px

  &__item + &__item
    margin-left 47px
  &__value
    color #fff
    font-size 42px
    line-height 35px
    font-family font-family-md
  &__description
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.01em
    font-size 15px
    color #fff
    max-width 85px
    margin-left 13px
.country-search
  +below(430px)
    display none
  &__country-select
    display flex
    align-items center
    width 200px
    height 47px
    cursor pointer
  &__heading
    font-size 21px
    line-height 25px
    color rgba(255,255,255,.7)
    font-family font-family-md
    padding-right 24px
    &:first-letter
      text-transform uppercase
  .icon-dropdown-footer
    width 8px
    height 4px
    fill #fff
.selectize-control
  display none
  width 300px
  box-shadow 0px 8px 8px rgba(0, 0, 0, 0.06)
  position relative
  &__dropdown
    position absolute
    top 47px
    left 0
    width 300px
    height auto
    background-color #fff
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px
    &-content
      overflow-y auto
      overflow-x hidden
      max-height 180px
      border-bottom-right-radius 2px
      border-bottom-left-radius 2px
      .option
        a
          font-size 16px
          color #000
          display block
          padding 13px 0 13px 54px
          border-top 1px solid #D0D4D9
          transition all .2s
          &:hover
            color blue
        &.active
          a
            color blue
  &__input
    position relative
    width 300px
    height 47px
    .selectize-search
      width 15px
      height 15px
      fill transparent
      position absolute
      top 50%
      left 17px
      transform translateY(-50%)
      stroke red
    #selectize-input
      width 100%
      height 100%
      padding-left 50px
      border none
      border-top-right-radius 2px
      border-top-left-radius 2px