<div class="container">
  <h1>Cookies policy</h1>
  <p>This website, henceforth "Website" uses cookies to improve the User’s experience on the Website, as cookies track the User’s interaction with the various services offered by the owner of the website, CIVITOURS</p>
  <h3>1.- What are cookies?</h3>
  <p>Cookies are small pieces of data sent from a website and stored in a User’s web browser when browsing certain webpages (computer/smartphone/tablet) that allow a website to determine the User’s browsing preferences and make the browsing experience more efficient, so that the User and Website can interact in a better and faster way.</p>
  <p>The information stored in cookies are not linked to any personally identifiable information the user might submit (such as the User’s name, address or bank details). It is completely anonymous and does not contain any sensitive information.</p>
  <h3>2.- What types of cookies are used?</h3>
  <p>The Website uses cookies, pixels and other storage and information retrieval devices to track the User’s interaction in the Website.CIVITOURS uses the following cookies:</p>
  <h4>First-party cookies</h4>
  <p>CIVITOURS cookies: These types of cookies make the Website work correctly and are; therefore, essential so that the User can access all of the Website’s options and can browse the Website normally. For example, they allow Users to save their preferences.</p>
  <h4>Third-party website cookies</h4>
  <p><strong>Tracking cookies:</strong> These cookies collect anonymous information on how a User browses the Website, where they have been, when they have returned, where they came from, to determine why the User has visited the Website and other statistical information, as well as to improve how the service works.</p>
  <p><strong>Publicity cookies:</strong> These cookies allow the management, in the most efficient way possible, of the publicity spaces that are included in the Website, app or platform from which it provides the requested service based on criteria such as the content edited or the frequency of the ads. They show Users publicity which the User will most likely be interested in.</p>
  <h3>3.- Web beacons or web bug:</h3>
  <p>This Website also uses Web Beacons, which are one pixel by one pixels, visible or invisible, electronic images placed within the source code of some websites, and are very similar to the cookies. Web Beacons are often used for statistical information, to measure specific Website traffic and User patterns. The information obtained from Web Beacons is always anonymous.</p>
  <h3>4.- Cookie management:</h3>
  <p>Most web browsers or other storage devices allow you to manage your cookie preferences, to have more control over your privacy.</p>
  <h3>5.- Cookies in your mobile devices</h3>
  <p>This Website also uses cookies or other storage devices on mobile devices. Just like in computer and laptop browsers, the mobile device browsers allow you to configure your privacy options or settings to disable or delete the cookies if you want.</p>
  <h3>6.- Consent</h3>
  <p>By browsing and continuing on our website, you are consenting to the use of the Website’s cookies. In case Users delete or disable the cookies, the website will continue to be operational, but will no longer offer certain services or customized features, which means that Users will not make the most of what the Website offers.</p>
</div>
