<section *ngIf="destinationCity" class="destination-hero flex" [ngStyle]="{'background': 'url(' +  destinationCity.avatar + ')'}">
  <div class="container">
    <div class="country-search">
      <div class="country-search__country-select">
        <div class="country-search__heading">{{ destinationCity.country_name }}</div>
      </div>
    </div>
    <h1 class="destination-hero__heading">{{ destinationCity.name}}
    </h1>
    <div class="destination-hero__counter destination-hero__counter--city flex align-items-center">
      <div class="destination-hero__item flex align-items-end">
        <div class="destination-hero__value"> {{ destinationCity.excursions }}</div>
        <div class="destination-hero__description">excursions &amp; activities</div>
      </div>
      <div class="destination-hero__item flex align-items-center">
        <div class="destination-hero__value"> 0 </div>
        <div class="destination-hero__description">travelers</div>
      </div>
      <div class="destination-hero__item flex align-items-center">
        <div class="destination-hero__value">{{ destinationCity.reviews}}</div>
        <div class="destination-hero__description">reviews
        </div>
      </div>
      <div class="destination-hero__item flex align-items-end">
        <div class="destination-hero__value">{{destinationCity.rate_us | number:'0.1' }}</div>
        <div class="destination-hero__description">This is how they rate us</div>
      </div>
    </div>
  </div>
</section>