@import 'variables'
@import 'rupture'

.destination-hero
  min-height 439px
  background-size cover!important
  background-position 50% 50%
  +below(769px)
    min-height 395px
  +below(430px)
    min-height 249px
  .container
    padding-top 87px
    +below(769px)
      padding-top 103px
      padding-left 41px
    +below(430px)
      padding-top 125px
      padding-left 23px
  &__heading
    font-size 56px
    line-height 79px
    font-family font-family-md
    color #fff
    text-transform uppercase
    padding-top 6px
    +below(430px)
      font-size 30px
  &__counter
    position absolute
    bottom 69px
    right 0
    +below(800px)
      display none
    &--city
      width 100%
      position static
      display flex
      justify-content space-between
      margin-top 109px
      +below(769px)
        display none
      .destination-hero__item
        margin-left 0
        span
          font-size 24px
        &:nth-child(1)
          margin-right 0
        &:nth-child(2)
          margin-right 0
          margin-left 40px
        &:nth-child(3)
          margin-left 11px
          margin-right 0
        &:last-child4
          padding-right 13px

  &__item
    &:nth-child(1)
      margin-right 47px
    &:nth-child(2)
      margin-right 5px
    &:nth-child(3)
      margin-left 10px
      margin-right -10px
  &__value
    color #fff
    font-size 42px
    line-height 35px
    font-family font-family-md
  &__description
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.01em
    font-size 15px
    color #fff
    width 85px
    margin-left 13px

.country-search
  +below(430px)
    display none
  &__country-select
    display flex
    align-items center
    width 200px
    height 47px
    cursor pointer
  &__heading
    font-size 21px
    line-height 25px
    color rgba(255,255,255,.7)
    font-family font-family-md
    padding-right 24px
    &:first-letter
      text-transform uppercase