<div class="customer activity-wrap info mt-30">
  <div>
    This block is under construction
  </div>
  <div class="customer__top flex justify-content-between">
    <div class="customer__item">
      <h2 class="activity__header">Our customers' reviews</h2>
      <div class="customer__content">These are genuine reviews written by our customers.
      </div>
    </div>
    <div class="customer__item flex">
      <div class="reviews">
        <div class="reviews__star">
          <ngb-rating [rate]="4.5" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
          <ng-template #t let-fill="fill">
            <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
              <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
            </svg>
          </ng-template>
        </div>
        <div class="reviews__desc">18 reviews</div>
      </div>
      <div class="customer__score">9.0</div>
    </div>
  </div>
  <div class="customer__middle">1 out of 18 reviews</div>
  <div class="card-comment">
    <div class="card-comment__caption flex justify-content-between">
      <div class="card-comment__caption-left flex">
        <div class="card-comment__img flex align-items-center justify-content-center">
          <svg class="icon icon-people">
            <use xlink:href="#icon-people"></use>
          </svg>
        </div>
        <div class="card-comment__title">
          <div class="card-comment__name">Oscar Redondo Garcia
          </div>
          <div class="card-comment__place">Madrid, Spain
          </div>
          <div class="card-comment__subtitle">I travelled with friends
          </div>
        </div>
      </div>
      <div class="card-comment__caption-right">
        <div class="icon-score">
          <div class="icon-score__score">8.3</div>
          <div class="icon-score__star">
            <ngb-rating [rate]="4.1" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
            <ng-template #t let-fill="fill">
              <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
                <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
              </svg>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="card-comment__desc">These are genuineEl guia Ricardo de Niagara espectacular . Bellísima persona y gran profesional. Los conductores muy buenos y el autobús cómodo . reviews written by our customers.</div>
    <div class="card-comment__data">2018 Apr 12</div>
  </div>
  <div class="btn btn--transparent btn--dark-hover">show all</div>
</div>