>>>ngb-progressbar
  margin-top 5rem

  .progress
    height 1rem
    overflow hidden
    font-size .75rem
    background-color #e9ecef
    border-radius .25rem
    display flex
    display -webkit-box
    display -ms-flexbox

    .progress-bar
      display -webkit-box
      display -ms-flexbox
      display flex
      -webkit-box-orient vertical
      -webkit-box-direction normal
      -ms-flex-direction column
      flex-direction column
      -webkit-box-pack center
      -ms-flex-pack center
      justify-content center
      color #fff
      text-align center
      background-color #007bff
      transition width .6s ease
      &.bg-info
        background-color #17a2b8!important