<input type="file" class="form-control" (change)="handleFileInput($event.target.files)">
<div *ngIf="uploadError" class="error-input">{{ uploadError }}</div>
<p *ngIf="isUploading"><ngb-progressbar [showValue]="true" type="info" [value]="uploadProgress"></ngb-progressbar></p>
