@import 'variables'
@import 'rupture'

.header
  height 70px;
  width 100%;
  background #f7f7f7

button[disabled]
  opacity 0.5

.signup
  text-align center
  background #F7F7F7
  .container
    padding-top 78px
    padding-bottom 205px

  .h2
    margin 0

  +below(768px)
    .container
      padding-top: 123px
      padding-bottom: 45px

  +below(600px)
    .container
      padding: 87px 8px 34px
    h2
      font-size: 24px
    h3
      font-size: 18px

  .acceptance-block
    margin-top: 20px
    text-align: left
    label
      line-height: 1.5