<div class="header"></div>
<section class="signup">
  <div class="container">
    <h2 class="h2 text-center">Civitours sign up</h2>
    <form class="form form--signup" [formGroup]="registerForm" (submit)="onSubmit()">
      <div class="form__section">
        <div class="form__ttl">
          <svg class="icon icon-signup-lock" viewBox="0 0 20 22">
            <g><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"/></g>
          </svg>
          <h3 class="h3">Your access information</h3>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.email.length || email.invalid) && (email.touched || checkFields)" (click)="setFocus('email')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">e-mail</span>
            <input type="text" formControlName="email" name="email" id="email">
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="email.errors.required" class="error">Please enter email</div>
            <div *ngIf="!email.errors.required && email.errors.email" class="error">Email should be valid</div>
          </div>
          <div *ngIf="serverErrors.email.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.email" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.password.length || password.invalid) && (password.touched || checkFields)" (click)="setFocus('password')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">password</span>
            <input type="{{ passwordType }}" formControlName="password" name="password" id="password">
            <div class="form-group__btn-show-password flex align-items-center justify-content-center">
              <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="showPassword()" (mouseout)="hidePassword()">
                <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
              </svg>
            </div>
          </div>
          <div *ngIf="password.invalid && (password.dirty || password.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="password.errors.required" class="error">Please enter password</div>
            <div *ngIf="!password.errors.required && password.errors.pattern" class="error">Password should have at least 8 characters and one of them uppercase </div>
          </div>
          <div *ngIf="serverErrors.password.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.password" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(passwordConfirm.invalid || serverErrors.passwordConfirm.length) && (passwordConfirm.touched || checkFields)" (click)="setFocus('passwordConfirm')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">password confirm</span>
            <input type="{{ passwordConfirmType }}" formControlName="passwordConfirm" name="passwordConfirm" id="passwordConfirm">
            <div class="form-group__btn-show-password flex align-items-center justify-content-center">
              <svg class="icon icon-show-password" viewBox="0 0 24 24" (mouseover)="showPasswordConfirm()" (mouseout)="hidePasswordConfirm()">
                <g opacity=".3"><path d="M21 12c-1.8 2.5-4.527 5-9 5-4.474 0-7.65-2.5-9-5M12 21v-4M20.828 18.828L18 16M4 18.828L6.828 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#000"/></g>
              </svg>
            </div>
          </div>
          <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="passwordConfirm.errors.required" class="error">Please enter password confirmation</div>
            <div *ngIf="passwordConfirm.errors.valueDifferent" class="error">Password and confirm should match</div>
          </div>
          <div *ngIf="serverErrors.passwordConfirm.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.passwordConfirm" class="error">{{ error }}</div>
          </div>
        </div>
      </div>
      <div class="form__section additional-info">
        <div class="form__ttl">
          <svg class="icon icon-user-form" viewBox="0 0 18 20">
            <g><path d="M17 19v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2M13 5a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"/></g>
          </svg>
          <h3 class="h3">Your personal information</h3>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.name.length || name.invalid) && (name.touched || checkFields)" (click)="setFocus('name')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">Name</span>
            <input type="text" formControlName="name" name="name" id="name">
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="name.errors.required" class="error">Please enter name</div>
            <div *ngIf="name.errors.maxlength" class="error">Name shouldn`t exceed 150 characters</div>
          </div>
          <div *ngIf="serverErrors.name.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.name" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(serverErrors.surname.length || surname.invalid) && (surname.touched || checkFields)" (click)="setFocus('surname')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">surname</span>
            <input type="text" formControlName="surname" name="surname" id="surname">
          </div>
          <div *ngIf="surname.invalid && (surname.dirty || surname.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="surname.errors.required" class="error">Please enter surname</div>
            <div *ngIf="surname.errors.maxlength" class="error">Surname shouldn`t exceed 150 characters</div>
          </div>
          <div *ngIf="serverErrors.surname.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.surname" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="countryError || serverErrors.country.length" (click)="setFocus('country')">
          <div class="form-group__block flex align-items-center justify-content-between"><span class="form-group__placeholder">your Country</span>
            <div class="input-select-wrap">
              <input type="text" class="input-select-wrap__input input input--select" id="country"
                    [class.focused] = "countryFocus"
                    [ngbTypeahead]="searchCountry"
                    [resultFormatter]="countryFormatter"
                    [editable]="false"
                    [inputFormatter]="countryFormatter"
                    (selectItem)="onSelectCountry($event)"
                    (focus)="countryFocus = true;"
                    (blur)="onCountryBlur()"
              >
            </div>
            <ng-template #ct let-r="result" let-t="term">
              {{ r.name}}
            </ng-template>
          </div>
          <div *ngIf="countryError" class="error-wrap flex align-items-center justify-content-between">
            <div class="error">Please select country from the list</div>
          </div>
          <div *ngIf="serverErrors.country.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.country" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="cityError || serverErrors.city.length" (click)="setFocus('city')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">your city</span>
            <div class="input-select-wrap">
              <input type="text" class="input-select-wrap__input input input--select" id="city"
                    [class.focused] = "cityFocus"
                    [ngbTypeahead]="searchCity"
                    [editable]="false"
                    [resultFormatter]="cityFormatter"
                    [inputFormatter]="cityFormatter"
                    (selectItem)="onSelectCity($event)"
                    (focus)="cityFocus = true;"
                    (blur)="onCityBlur()"
              >
            </div>
          </div>
          <div *ngIf="cityError" class="error-wrap flex align-items-center justify-content-between">
            <div class="error">Please select city from the list</div>
          </div>
          <div *ngIf="serverErrors.city.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.city" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="form-group flex form-group form-group--long" [class.error-input]="(phone.invalid || serverErrors.phone.length) && (phone.touched || checkFields)" (click)="setFocus('phone')">
          <div class="form-group__block flex align-items-center"><span class="form-group__placeholder">phone</span>
            <input type="text" formControlName="phone" name="phone" id="phone">
          </div>
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div *ngIf="phone.errors.required" class="error">Please enter phone number</div>
            <div *ngIf="!phone.errors.required && phone.errors.pattern" class="error">Please enter correct number in international format </div>
          </div>
          <div *ngIf="serverErrors.phone.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.phone" class="error">{{ error }}</div>
          </div>
        </div>
        <div class="checkbox-wrap acceptance-block form-group error-input">
          <input type="checkbox" formControlName="terms" name="terms" id="terms-checkbox-input">
          <label for="terms-checkbox-input">I accept the&nbsp;
            <a href="#">privacy policy</a>&nbsp;and&nbsp;
            <a href="#">general conditions</a>
          </label>
          <div *ngIf="terms.invalid && (terms.dirty || terms.touched || checkFields)" class="error-wrap flex align-items-center justify-content-between">
            <div class="error">You should accept agreements to complete registration</div>
          </div>
        </div>
        <div class="checkbox-wrap acceptance-block form-group error-input">
          <re-captcha
                  #captchaRef="reCaptcha"
                  size="invisible"
                  siteKey="{{ reCapthcaPublicKey }}"
          ></re-captcha>
          <div *ngIf="serverErrors.token.length" class="error-wrap flex align-items-center justify-content-between">
            <div *ngFor="let error of serverErrors.token" class="error">{{ error }}</div>
          </div>
          <div *ngIf="registerError" class="form-group flex error-input">
            <div class="error-wrap flex align-items-start justify-content-between">
              <div class="error">{{ registerError }}</div>
            </div>
          </div>
        </div>
        <button [disabled]="inProgress" class="btn btn--submit" type="submit">
          <span *ngIf="!inProgress">Request web registration</span>
          <span *ngIf="inProgress">Registering...</span>
        </button>
      </div>
    </form>
  </div>
</section>
