<div class="details">
  <h2 class="activity__header">More information</h2>
  <div class="icon-content flex">
    <svg class="icon icon-clock-ac" viewBox="0 0 20 20">
      <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M10 4.6V10l3.6 1.8" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <div class="icon-content__title">Duration</div>
    <div class="icon-content__desc">{{ activityInfo.duration }}</div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-message" viewBox="0 0 20 20">
      <path d="M19 9.189a7.833 7.833 0 0 1-.9 3.66 8.31 8.31 0 0 1-3.133 3.305 8.742 8.742 0 0 1-4.467 1.224 8.641 8.641 0 0 1-3.8-.867L1 18.34l1.9-5.491A7.833 7.833 0 0 1 2 9.189c0-1.52.44-3.01 1.27-4.304A8.392 8.392 0 0 1 6.7 1.867 8.64 8.64 0 0 1 10.5 1h.5a8.63 8.63 0 0 1 5.53 2.38A8.036 8.036 0 0 1 19 8.707v.482z"></path>
    </svg>
    <div class="icon-content__title">Language</div>
    <div class="icon-content__desc">{{ activityInfo.language }}
    </div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
      <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">Included</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.included | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
      <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">Not Included</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.not_included | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-book" viewBox="0 0 18 18">
      <path d="M2 1h14.222v15.414H2z"></path><path d="M4 16.414h10.222a2 2 0 0 0 2-2V5.57a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v8.845a2 2 0 0 0 2 2zM16.221 7.85H2M5.555 1v1.713M12.666 1v1.713"></path>
    </svg>
    <div class="icon-content__title flex-grow">When to book?</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.when_to_book | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-ticket" viewBox="0 0 20 15">
      <path clip-rule="evenodd" d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.205.231-2.111 1.24-2.111 2.45 0 1.21.906 2.219 2.111 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.205-.231 2.111-1.24 2.111-2.45 0-1.21-.906-2.219-2.111-2.45V3z"></path><path d="M10 1v13"></path>
    </svg>
    <div class="icon-content__title flex-grow">Ticket</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.ticket | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-accesibility" viewBox="0 0 19 20">
      <path d="M12.22 14.445c-.693 3.068-3.709 5.024-6.737 4.37-3.028-.655-4.921-3.673-4.229-6.74a5.774 5.774 0 0 1 2.92-3.833"></path><path d="M6.785 4.876l.83 6.502h6.646l1.66 4.064h2.077"></path><ellipse cx="1.661" cy="1.625" rx="1.661" ry="1.625" transform="translate(4.5)"></ellipse>
    </svg>
    <div class="icon-content__title flex-grow">Accessibility</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.acessibility | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-question" viewBox="0 0 20 20">
      <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M7.38 7.3a2.7 2.7 0 0 1 5.248.9c0 1.8-2.7 2.7-2.7 2.7"></path><circle cx=".9" cy=".9" r=".9" transform="translate(9.1 12.7)"></circle>
    </svg>
    <div class="icon-content__title flex-grow">How to book?</div>
    <div class="icon-content__second-line" [innerHtml]="activityInfo.how_to_book | keepHtml"></div>
  </div>
  <div class="icon-content flex">
    <svg class="icon icon-earth" viewBox="0 0 18 18">
      <circle cx="9" cy="9" r="8"></circle><circle cx="5" cy="5" r="4" transform="translate(4 4)"></circle><path d="M12.293 6.414l2.121-2.121M5.828 6.414L3.707 4.293M12.293 11.707l2.121 2.121M5.828 11.707l-2.121 2.121"></path>
    </svg>
    <div class="icon-content__title flex-grow">Do you have any questions?
    </div>
    <div class="icon-content__second-line">
      Find answers to our most <a routerLink="/support/faq">frequently asked questions.</a>If you need help to book an activity or have any enquiries. <a routerLink="/support/contact">please contact us</a>
    </div>
  </div>
</div>