@import 'variables'
@import 'rupture'

.destination-header
  margin-bottom 57px
  +below(769px)
    font-size 24px
    margin-bottom 32px
  +below(430px)
    margin-bottom 41px

.destination__header
    padding-bottom 43px
    font-size 24px
    letter-spacing 0.1em
    text-transform uppercase
    line-height 34px
    font-family font-family-bold
    color #fff
    text-align center
.slider
  position relative
  padding-bottom 31px
  &__btn
    position absolute
    top 145px
    border none
    outline none
    background-color blue
    border-radius 50%
    width 59px
    height 59px
    display flex
    align-items center
    justify-content center
    cursor pointer

    &[disabled]
      opacity 0.5
    &.btn-next
      right -93px
      margin-left 4px
    &.btn-prev
      left -93px
      margin-right 4px
    .icon
      width 20px
      height 20px
      fill blue
  &__block
    height 352px
.btn-show-all
  width 172px
  height 48px
  font-size 14px
  display flex
  align-items center
  justify-content center
  letter-spacing 0.1em
  text-transform uppercase
  font-family 'Roboto', sans-serif
  font-weight 400
  margin 0 auto
  color #fff
  background-color blue
  &:hover
    background-color blue
    box-shadow 0px 4px 10px rgba(0, 134, 230, 0.58)
    color #fff

.icon-arrow-prev, .icon-arrow-next
  fill none
.icon-arrow-next
  margin-right -4px
.icon-arrow-prev
  margin-left -4px