<div class="container">
  <h2 class="{{ headerClass }}">{{ header }}</h2>
  <div class="slider">
      <div class="slider__block flex justify-content-between" dragScroll
           drag-scroll-y-disabled="true"
           scrollbar-hidden="true"
           (reachesLeftBound)="leftBoundStat($event)"
           (reachesRightBound)="rightBoundStat($event)"
           #scroll>
        <app-destination-card *ngFor="let destination of destinations" [destination]="destination" [isWide]="wideCards"></app-destination-card>
      </div>
    <button class="slider__btn btn-next flex align-items-center justify-content-center"
            (click)="moveRight()"
            [disabled]="rightNavDisabled"
    >
      <svg class="icon icon-arrow-next" viewBox="0 0 10 16">
        <path  d="M9.69 9.69H0V0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="scale(-1.00245 .99754) rotate(45 -2.125 -.91)" stroke="#fff"/>
      </svg>
    </button>
    <button class="slider__btn btn-prev flex align-items-center justify-content-center"
            (click)="moveLeft()"
            [disabled]="leftNavDisabled"
    >
      <svg class="icon icon-arrow-prev" viewBox="0 0 10 16">
        <path d="M9.69 9.69H0V0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="scale(1.00245 .99754) rotate(45 2.575 10.437)" stroke="#fff"/>
      </svg>
    </button>
  </div>
  <a *ngIf="showAllButton" class="btn btn-show-all" routerLink="/destinations">show all</a>
</div>
