<div *ngIf="isLoading" class="loading-small"></div>
<div *ngIf="isLoading" class="mb-20"></div>
<div [class.hidden]="isLoading">
  <!--TODO: Hero preview and uploader-->
  <section class="activity-block">
    <div class="container">
      <div class="">
        <div class="">
          <div class="activity">
            <a *ngIf="activityInfo" routerLink="/admin/activities/{{ activityInfo.id }}/view" class="btn btn-primary" target="_blank">View in new page</a>
            <!--Hero block-->
            <div>
              <h2>Main activity information</h2>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Name</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="form.name">
                <div *ngIf="serverErrors.name" class="alert alert-danger" role="alert">{{ serverErrors.name }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Avatar</span>
                </div>
                <app-uploader (imageUploaded)="onHeroAvatarUpdate($event)"></app-uploader>
              </div>
              <div class="mb-3" *ngIf="heroUploadData || activityInfo">
                <img src="{{ heroUploadData ? heroUploadData.imageUrl : activityInfo.avatar }}" alt="Responsive image">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Country</span>
                </div>
                <div class="input-select-wrap flex-grow">
                  <input type="text" class="form-control"
                        [ngbTypeahead]="searchCountry"
                        [resultFormatter]="countryFormatter"
                        [inputFormatter]="countryFormatter"
                        [editable]="false"
                        (selectItem)="onSelectCountry($event)"
                        [value]="selectedCountryName"
                  >
                </div>
                <div *ngIf="serverErrors.country" class="alert alert-danger" role="alert">{{ serverErrors.country }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">City</span>
                </div>
                <div class="input-select-wrap flex-grow">
                  <input type="text" class="form-control"
                        [ngbTypeahead]="searchCity"
                        [resultFormatter]="cityFormatter"
                        [inputFormatter]="cityFormatter"
                        [editable]="false"
                        (selectItem)="onSelectCity($event)"
                        [value]="selectedCityName"
                  >
                </div>
                <div *ngIf="serverErrors.city" class="alert alert-danger" role="alert">{{ serverErrors.city }}</div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Category</span>
                </div>
                <select type="text" class="form-control" [(ngModel)]="form.category">
                  <option *ngFor="let category of (categories$ | async)" [value]="category.id">{{ category.name }}</option>
                </select>
                <div *ngIf="serverErrors.category" class="alert alert-danger" role="alert">{{ serverErrors.category }}</div>
              </div>
              <div class="mb-3">
                <h3>Activity calendar</h3>
                <app-edit-calendar [(schedule)]="form.schedule"></app-edit-calendar>
              </div>
            </div>

            <!--Description block-->
            <div>
              <h3>Short description</h3>
              <div *ngIf="serverErrors.shortDescription" class="alert alert-danger mb-3" role="alert">{{ serverErrors.shortDescription }}</div>
              <textarea class="form-control mb-3" [(ngModel)]="form.shortDescription"></textarea>
              <h3>Gallery</h3>
              <app-edit-gallery [(gallery)]="form.gallery"></app-edit-gallery>
              <h3 class="mt-3">Full description</h3>
              <div *ngIf="serverErrors.description" class="alert alert-danger mb-3" role="alert">{{ serverErrors.description }}</div>
              <textarea class="form-control  mb-3" [(ngModel)]="form.description"></textarea>
            </div>

            <!--Prices block-->
            <app-edit-prices class="mb-3" [(types)]="form.types"></app-edit-prices>
            <!--Detail block-->
            <div class="mb-3">
              <div class="details">
                <h2 class="activity__header">More information</h2>
                <div class="icon-content flex mb-3">
                  <svg class="icon icon-clock-ac" viewBox="0 0 20 20">
                    <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M10 4.6V10l3.6 1.8" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="icon-content__title">Duration</div>
                  <div class="icon-content__desc">
                    <input class="form-control" [(ngModel)]="form.duration">
                    <div *ngIf="serverErrors.duration" class="alert alert-danger" role="alert">{{ serverErrors.duration }}</div>
                  </div>
                </div>
                <div class="icon-content flex mb-3">
                  <svg class="icon icon-message" viewBox="0 0 20 20">
                    <path d="M19 9.189a7.833 7.833 0 0 1-.9 3.66 8.31 8.31 0 0 1-3.133 3.305 8.742 8.742 0 0 1-4.467 1.224 8.641 8.641 0 0 1-3.8-.867L1 18.34l1.9-5.491A7.833 7.833 0 0 1 2 9.189c0-1.52.44-3.01 1.27-4.304A8.392 8.392 0 0 1 6.7 1.867 8.64 8.64 0 0 1 10.5 1h.5a8.63 8.63 0 0 1 5.53 2.38A8.036 8.036 0 0 1 19 8.707v.482z"></path>
                  </svg>
                  <div class="icon-content__title">Language</div>
                  <div class="icon-content__desc">
                    <input class="form-control" [(ngModel)]="form.language">
                    <div *ngIf="serverErrors.language" class="alert alert-danger" role="alert">{{ serverErrors.language }}</div>
                  </div>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
                    <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">Included</div>
                  <div *ngIf="serverErrors.included" class="alert alert-danger mb-3" role="alert">{{ serverErrors.included }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.included"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-exclamatory" viewBox="0 0 20 20">
                    <ellipse cx="9" cy="8.671" rx="9" ry="8.671" transform="translate(1 1)"></ellipse><path d="M10 5.854v4.744"></path><ellipse cx="1" cy=".963" rx="1" ry=".963" transform="translate(9 12.56)"></ellipse>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">Not Included</div>
                  <div *ngIf="serverErrors.notIncluded" class="alert alert-danger mb-3" role="alert">{{ serverErrors.notIncluded }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.notIncluded"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-book" viewBox="0 0 18 18">
                    <path d="M2 1h14.222v15.414H2z"></path><path d="M4 16.414h10.222a2 2 0 0 0 2-2V5.57a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v8.845a2 2 0 0 0 2 2zM16.221 7.85H2M5.555 1v1.713M12.666 1v1.713"></path>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">When to book?</div>
                  <div *ngIf="serverErrors.whenToBook" class="alert alert-danger mb-3" role="alert">{{ serverErrors.whenToBook }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.whenToBook"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-ticket" viewBox="0 0 20 15">
                    <path clip-rule="evenodd" d="M1 3a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2.05c-1.205.231-2.111 1.24-2.111 2.45 0 1.21.906 2.219 2.111 2.45V12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9.95c1.205-.231 2.111-1.24 2.111-2.45 0-1.21-.906-2.219-2.111-2.45V3z"></path><path d="M10 1v13"></path>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">Ticket</div>
                  <div *ngIf="serverErrors.ticket" class="alert alert-danger mb-3" role="alert">{{ serverErrors.ticket }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.ticket"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-accesibility" viewBox="0 0 19 20">
                    <path d="M12.22 14.445c-.693 3.068-3.709 5.024-6.737 4.37-3.028-.655-4.921-3.673-4.229-6.74a5.774 5.774 0 0 1 2.92-3.833"></path><path d="M6.785 4.876l.83 6.502h6.646l1.66 4.064h2.077"></path><ellipse cx="1.661" cy="1.625" rx="1.661" ry="1.625" transform="translate(4.5)"></ellipse>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">Accessibility</div>
                  <div *ngIf="serverErrors.accessibility" class="alert alert-danger mb-3" role="alert">{{ serverErrors.accessibility }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.accessibility"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-question" viewBox="0 0 20 20">
                    <path d="M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"></path><path d="M7.38 7.3a2.7 2.7 0 0 1 5.248.9c0 1.8-2.7 2.7-2.7 2.7"></path><circle cx=".9" cy=".9" r=".9" transform="translate(9.1 12.7)"></circle>
                  </svg>
                  <div class="icon-content__title flex-grow mb-3">How to book?</div>
                  <div *ngIf="serverErrors.howToBook" class="alert alert-danger mb-3" role="alert">{{ serverErrors.howToBook }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.howToBook"></textarea>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-earth" viewBox="0 0 18 18">
                    <circle cx="9" cy="9" r="8"></circle><circle cx="5" cy="5" r="4" transform="translate(4 4)"></circle><path d="M12.293 6.414l2.121-2.121M5.828 6.414L3.707 4.293M12.293 11.707l2.121 2.121M5.828 11.707l-2.121 2.121"></path>
                  </svg>
                  <div class="icon-content__title flex-grow">Do you have any questions?
                  </div>
                  <div class="icon-content__second-line">
                    Find answers to our most <a routerLink="/support/faq">frequently asked questions.</a>If you need help to book an activity or have any enquiries. <a routerLink="/support/contact">please contact us</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Meeting point block-->
            <div class="mb-3">
              <div class="meeting activity-wrap">
                <h2 class="activity__header">Meeting point</h2>
                <div class="meeting__content">
                  <input class="form-control" [(ngModel)]="form.meetingPointText">
                  <div *ngIf="serverErrors.meetingPointText" class="alert alert-danger" role="alert">{{ serverErrors.meetingPointText }}</div>
                </div>
                <div class="map-wrapper mt-30">
                  <agm-map
                          #map
                          [zoom]="15"
                          [latitude]="form.meetingPointLatitude"
                          [longitude]="form.meetingPointLongitude"
                          (mapClick)="onMapClicked($event)"
                  >
                    <agm-marker [latitude]="form.meetingPointLatitude" [longitude]="form.meetingPointLongitude">
                      <agm-info-window>Meeting point</agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>

            <div>
              <div class="details">
                <div class="icon-content flex">
                  <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                  </svg>
                  <div class="icon-content__title flex-grow">Cancellation available</div>
                  <div class="icon-content__second-line">
                    <input type="number" class="form-control" [(ngModel)]="form.cancelationHoursBefore">hours before</div>
                    <div *ngIf="serverErrors.cancelationHoursBefore" class="alert alert-danger" role="alert">{{ serverErrors.cancelationHoursBefore }}</div>
                </div>
                <div class="icon-content flex">
                  <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                  </svg>
                  <div class="icon-content__title flex-grow">Cancellation information</div>
                  <div *ngIf="serverErrors.cancelationDescription" class="alert alert-danger mb-3" role="alert">{{ serverErrors.cancelationDescription }}</div>
                  <textarea class="form-control  mb-3" [(ngModel)]="form.cancelationDescription"></textarea>
                </div>
              </div>
            </div>
            <div *ngIf="activityError" class="alert alert-danger mb-3" role="alert">{{ activityError }}</div>
            <button class="btn btn-primary" [attr.disabled]="isSaving ? 'disabled' : null" (click)="saveActivity()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
