@import 'variables'
@import 'rupture'

.icon-cart
  width 22px
  height 22px
  fill none
  +below(769px)
    width 20px
    height 20px
  +below(600px)
    width 16px
    height 16px

/deep/ .dropdown__basket
  width 400px
  top 100%
  background-color #ffffff
  position absolute
  box-shadow 0 5px 5px rgba(0,0,0,0.1)
  right 0
  z-index 20
  opacity 0
  visibility hidden
  transition opacity .2s 0.2s linear, top .2s 0.2s linear, visibility .2s 0.2s linear
  font-family Roboto,sans-serif
  &__block
    padding-bottom 11px
  &__item
    padding 17px 30px 16px 26px
    border-bottom 1px solid rgba(0, 0, 0, 0.1)
    background-color #fff
    display flex
    flex-grow 1
    margin 0
    position relative
  &__img
    width 74px
    height 74px
    border-radius 50%
  &__link
    width 74px
    display inline-block
    flex-shrink 0
  &__close
    &:hover
      cursor pointer
  &__price
    color #000
    line-height 20px
    font-weight 400
  &__content
    margin-left 10px
    position relative
    flex-grow 1
    display flex
    flex-direction column
    justify-content space-between
  &__title
    font-size 14px
    color #2B2B2B!important
    font-weight bold
    padding-right 38px
    Letter-spacing 0.5px
    line-height 18px
    transition all .2s
    &:hover
      color blue
  &__adult
    color grey
    font-size 14px
    line-height 20px
    font-family font-family-reg
  &__activites-product
    min-height 76px
    display flex
    justify-content space-between
    align-items center
    padding 0 30px 0 40px
    background-color #fff
  &__activites-product-value
    color grey
    font-size 16px
    line-height 23px
    font-family font-family-reg
  &__activites-product-price
    color blue
    font-size 24px
    line-height 20px
    font-weight 400
  +below(600px)
    width 100vw
    right -1px
    .dropdown__basket__link
      display none
    .dropdown__basket__title
      font-size 14px
    .dropdown__basket__price
      font-size 18px
    .dropdown__basket__item
      padding 19px 30px 9px 13px
    .dropdown__basket__activites-product
      padding-left 22px
      padding-right 30px
      min-height 70px