<li #hostTarget class="options__item flex justify-content-center" [class.active]="isOpened">
  <div class="options__link flex justify-content-center align-items-center" (click)="isOpened = !isOpened">
    <div class="options__icon"><span *ngIf="items.length" class="options__product-value">{{ items.length }}</span>
      <svg class="icon icon-cart" viewBox="0 0 24 23">
        <g><path d="M10 21a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM21 21a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path></g>
      </svg>
    </div>
    <div class="options__name">Shopping basket
    </div>
  </div>
  <div class="dropdown__basket">
    <app-basket-item *ngFor="let item of items" [item]="item" (onDeleted)="deleteItem(item.id)"></app-basket-item>
    <div class="dropdown__basket__activites-product">
      <div class="dropdown__basket__activites-product-value">{{ items.length }} activites</div>
      <div class="dropdown__basket__activites-product-price">{{ getTotal() | currency:'EUR':'symbol':'1.2-2' }}</div>
    </div><a *ngIf="items.length" class="btn btn--dropdown">Finish the reservation</a>
  </div>
</li>