<div *ngIf="isLoading" class="spinner"><div class="loading"></div></div>
<app-hero [destinationCity]="destinationInfo | async" ></app-hero>
<app-category-filter [selectedCategories]="activityCategoriesFilter" (onCategoryClicked)="changedCategoriesFilter($event)"></app-category-filter>
<section class="section section--city">
  <div class="container">
    <div class="sidebar-wrap flex">
      <div class="sidebar js-sidebar" id="sidebar">
        <div class="sidebar__item">
          <app-activity-filter
                  [offset]="(destinationInfo|async)?.offset"
                  [selectedCategories]="categoriesFilter"
                  (onAjaxFilter)="ajaxFilterChanged($event)"
                  (onFastFilter)="fastFilterChanged($event)"
          ></app-activity-filter>
        </div>
        <div class="sidebar__item">
          <div class="sidebar__ttl">Last Reviews</div>
          <div class="reviews-wrap">
            <app-review *ngFor="let review of reviews" [review]="review"></app-review>
          </div>
        </div>
        <div class="sidebar__item">
          <div class="sidebar__ttl">Discover Our {{ (destinationInfo|async)?.name }} Travel Guide</div>
          <a *ngIf="destinationInfo|async" class="city-img" href="#" [ngStyle]="{'background': 'url(' +  (destinationInfo|async)?.avatar + ')'}">
            <span class="city-img__ttl">{{ (destinationInfo|async)?.name }}</span>
          </a>
        </div>
      </div>
      <div class="sidebar-wrap__content">
        <app-search-filter (onSearch)="searchInput($event)"></app-search-filter>
        <div *ngIf="isActivityLoading" class="loading-small"></div>
        <div *ngIf="!isActivityLoading && !activities.length">No activities found</div>
        <app-activity-card *ngFor="let activity of activities" [activity]="activity" [isHorizontal]="true"></app-activity-card>
      </div>
    </div>
  </div>
</section>
<section class="banner">
  <div class="container flex">
    <div class="offers">
      <h3 class="offers__banner">TRANSFER SERVICES: <br>safe, reliable and on time
      </h3>
      <ul class="list list--price">
        <li class="list__item">
          <div class="list__city">4 passenger vehicle
          </div>
          <div class="list__value">€25
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">8 passenger minivan
          </div>
          <div class="list__value">€35
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">12 passenger minibus
          </div>
          <div class="list__value">€35
          </div>
        </li>
      </ul>
      <a class="btn btn--destination" href="#">Book a transfer</a>
    </div>
  </div>
</section>
<app-calendar-slider></app-calendar-slider>
