<div class="container">
<h1>General Terms of Use</h1>
These General Terms of Use regulates the access, navigation and use of the present website (hereinafter to be referred to as the “Website”) by Civitours (hereinafter to be referred to as “CIVITOURS”). CIVITOURS’ information is the following:
<h3>1.- Acceptance of the General Conditions of Use and Access to the Present Website</h3>
<p>
When you reserve a service on the present website, you accept these General Conditions of Use. These determine CIVITOURS and the User’s rights and obligations of the Website.
</p><p>
These are the only General Conditions of Use applicable to the present website (notwithstanding that certain services might have individual conditions) and are applicable when a User reserves a service. It substitutes any other condition, except prior agreement and in written between CIVITOURS and the User.
</p><p>
Users will not have to register to access the Website. Nevertheless, Users will have to register and accept these General Conditions of Use if they wish to reserve a service and before they are asked to make the corresponding payment.
</p>
<h3>2.- Purpose of the Website</h3>
<p>CIVITOURS has created the present website to offer Users a reservation platform where it is possible to book activities, day trips and guided tours in different countries in the world.
</p><p>
Additionally, CIVITOURS offers the possibility of reserving a transfer service that allows Users to take a private vehicle with chauffeur that will collect and drop them off within a city in the destination where the User is.
</p><p>
CIVITOURS informs Users that the activities, excursions and guided tours, as well as the transfers are services provided directly by third companies that collaborate with CIVITOURS (hereinafter, the Supplier). Therefore, <strong>CIVITOURS IS LIMITED TO PROVIDE VIA ITS WEBSITE A RESERVATION SERVICE OF ACTIVITIES, EXCURSIONS, GUIDED TOURS AND TRANSFERS, IN VARIOUS DESTINATIONS IN THE WORLD. THESE THEN ARE EXECUTED DIRECTLY BY THE SUPPLIERS.</strong>
</p><p>
Additionally, CIVITOURS provides Users with free travel guides of various destinations. The guides include photographs, information about the destination’s public transportation, the top attractions, an interactive map and various tips and advice related to each destination.
</p>
<h3>3.- Reserving in CIVITOURS and registering in the Website</h3>
<p>
  When Users want to reserve a service on this present website, they will have to give their personal information (name, surname, e-mail, telephone number and mobile number), or the personal information of the person that wishes to reserve the activity or transfer, so that CIVITOURS can make the reservation requested by the User.
</p><p>
Moreover, Users may also create a user account by completing the registration form that the Website makes available. In this way, Users may create a profile that will allow them to have a private area through which they can manage all their reservations made in CIVITOURS.
</p><p>
Under these General Conditions of Use, Users declare to provide true, accurate, current and complete information about their identity, or, if applicable, the person on behalf of which the activity or transfer is reserved. In this sense, Users will be responsible for the accuracy of the data provided to CIVITOURS and any consequence that could be derived from the errors in the information provided.
</p><p>
Users will be fully responsible for the use of their user account. This means that they are responsible for the adequate safekeeping and confidentiality of the User name and/or passwords that will give them access to their account. Users commit to not allowing third parties to use their user accounts, either in a temporary or permanent manner.
</p><p>
In accordance with the aforementioned, Users shall immediately notify CIVITOURS via booking@civitours.com of any improper use of their User Name and/or password, for the following reasons: theft, loss or unauthorized access, so CIVITOURS may proceed to its cancellation or blocking and/or disqualification as soon as it is established that it has been improperly used. Until such events are reported, CIVITOURS will be exempt from any liability that may arise from the misuse of the names of Users or passwords by unauthorized third parties.
</p><p>
By accepting these General Terms and Conditions of Use, the User states that he/she is 16 or older and has full capacity to understand and accept the content of these Conditions of Use. If the User is less than 16 years old, he or she must have the parent, the legal representative or guardian consent to accept the provisions of these General Conditions. In this case, please write CIVITOURS an email at the following address: booking@civitours.com so that they can analyze your specific case.
</p><p>
Accordingly, underage Users who contract any of CIVITOURS’s services through this website guarantee, by accepting these General Conditions of Use, that they have been authorized by the bank account holder to provide their banking details to CIVITOURS to make the payment for the contracted services.
</p><p>
CIVITOURS may not be held liable if the User contracts CIVITOURS’s services by breaching these General Conditions of Use.
</p>
<h3>4.- Specific conditions of activities, day trips and guided tours reservations</h3>
<p>
The reservations made by each User on the present website are subject to certain specific conditions that are directly applicable to each activity, day trip or guided tour. Users will find these conditions in the description part of the Website for each of these services, as well as in the confirmation email that CIVITOURS will send each User once the reservation has been made.
</p>
<h4>4.1.- General Conditions applicable to all reservations.</h4>
<p>
Normally, the reservation of activities, day trips and guided tours available on the present website are subject to the following conditions:
</p>
<ul>
  <li>The dates and times of the activities, day trips and guided tours available on the Website have been established in advance by the local suppliers and may not be modified. Users may only change the date and time of an activity, day trip and guided tour if the User has booked private service. In this case, the User will have to comment this question directly with CIVITOURS by sending an email to booking@civitours.com. In any case, CIVITOURS’ answer will depend on the local supplier’s applicable conditions.</li>
  <li>Users can modify the information provided in their reservations when the conditions of the activities, day trips and/or guided tours allow it. To modify the information, Users will have to click on the link in the confirmation email sent by CIVITOURS or Users can change the information directly from their users account.</li>
  <li>The minimum reservation period for each service will depend on each individual activity, day trip or/and guided tour that the User wishes to reserve. This information is provided in the description information of each service. CIVITOURS informs you that it is impossible to book an activity after the minimum period.</li>
</ul>
<p>
To reserve a private activity, day trip or guided tour, please contact CIVITOURS by email: booking@civitours.com The reservations made by each User on the present website are subject to certain specific conditions that are directly applicable to each activity, day trip or guided tour. Users will find these conditions in the description part of the Website for each of these services, as well as in the confirmation email that CIVITOURS will send each User once the reservation has been made.
</p>
<h4>4.2.- Specific conditions related with the information of the activity, day trip and/or guided tour that has been reserved.</h4>
<p>
All the necessary information for Users to enjoy the activity they have reserved such as meeting point, date, time and duration is located in the Description part of each service on the Website and also on the confirmation email that CIVITOURS sends Users once a specific service has been reserved.
</p>
<p>
As well as all the necessary information about the service reserved, the confirmation email can also contain a receipt or voucher of the booked activity, day trip and/or of the guided tour, so that the User can show it to the local supplier on the day of the activity.
</p>
<p>
The Users must be on time and they should show up at the indicated meeting point on the date and time specified on their voucher, since all activities, day trips and guided tours are programed to depart at an exact time. It is impossible to modify the departure time.
</p>
<p>
If Users have any questions about the service they have booked once they get to their holiday destination, especially if they have any doubts about the meeting point of the activity, day trip or guided tour, Users can contact with the local supplier that appears on the voucher sent to the User by CIVITOURS when the reservation was made.
</p><p>
CIVITOURS informs Users that the local supplier can ask you to show them the voucher that confirms the reservation of the activity, day trip or guided tour on the day of the service. CIVITOURS does not assume any responsibility if the User does not show this Voucher to the local supplier.
</p>
  <h3>5.- Specific conditions of transfer reservations</h3>
<p>
Each transfer service offered by CIVITOURS in the present website is subject to various specific conditions, which the Users can look up in the description file of the transfer in question (in the website), or on the confirmation email that you will receive from CIVITOURS when you have reserved the transfer.
</p><p>
The foregoing notwithstanding, Users should take into account the following:
</p>
<ul>
  <li>There are no supplements for luggage: The prices on CIVITOURS’ website are final and there are no extra charge for luggage (as long as it can fit in the reserved vehicle). The price indicated on the Website is per vehicle reserved and includes tolls and the driver’s tips.</li>
  <li>Private service: The transfer service offered by CIVITOURS is private, so the vehicle can only be used by the Users who have contracted this service.</li>
  <li>Vehicle seats: The number of seats indicated on the website is the maximum number of people who can ride in the vehicle in addition to the driver. Keep in mind that children occupy a seat just like adults.</li>
  <li>Pick-up time: In airport transfers, the User must indicate the time of arrival of his or her flight. In transfers from a specific place in a certain destination, the User must indicate the time in which he or she wishes to be collected.</li>
  <li>Modifying the reserved transfer: The User may modify the transfer only when the conditions of the transfer service reserved allow it. In any case, the User may make the corresponding modification by clicking on a link that CIVITOURS will send the User in the confirmation email, or directly from the users account.</li>
  <li>Contact with the driver: In the User’s reservation confirmation email, CIVITOURS will give the name, email and emergency contact number of the local supplier (or in this case, the driver) just in case the User doesn’t find the driver or has any problem.</li>
  <li>Stops during the reserved transfer service: If Users have to stop during the journey (for example, if the various Users who have reserved the transfer are staying in different hotels or have to collect the keys in one address and then go to the apartment they’re staying at), these extra stops will be charged separately, depending on the city where the User has reserved the transfer.</li>
</ul>
<h3>6.- Reservation fares</h3>
<p>
The contracting conditions of CIVITOURS’ reserved services will be formalized once the Users have completed and accepted the activity or transfer reservation form.
</p><p>
The prices will be indicated by CIVITOURS when the User chooses an activity or transfer and the reservation is made. Generally, CIVITOURS will charge the total cost of the service through the Website reserved by the User. Nevertheless, there are certain services that will only ask Users to pay for a part of the total amount and, on the day of the activity, day trip or transfer, the User will have to pay the remaining amount. In any case, this aspect of the conditions depends on each local supplier.
</p><p>
These prices are shown in Euros (€), Dollars ($) or Pound Sterling (£), including taxes, and the total amount will be shown when the reservation of the service is confirmed. The payment method can be a credit or debit card (Visa or Mastercard) or PayPal.
</p><p>
Usually, CIVITOURS does not apply discounts in the provision of its services, unless it is established in the conditions of the corresponding activity, day trip, guided tour and/or transfer.
</p><p>
After making the reservation, the Users will receive an email confirmation that will confirm the payment of the service contracted.
</p><p>
Users shall notify CIVITOURS of any undue or fraudulent charges on the card that was used for the purchase by writing to booking@civitours.com, in the shortest possible time for CIVITOURS to make the necessary adjustments. 7.- Cancellation Policy Each service provided by CIVITOURS in the present website (activities, day trips, guided tours and transfers) has its own specific cancellation policy. The User can check each specific cancellation policy in the description part of each activity (in the Website) or on the confirmation email that CIVITOURS will send the User once the reservation has been made.
</p><p>
Hence, the specific cancellation conditions will be applicable to each service. The conditions establish the cooling-off period during which you can cancel the service for free. After that period, the User will be charged a cancellation fee.
</p><p>
In conclusion, CIVITOURS will process the cancellations according to the provisions in the cancellation policy of each activity, day trip, guided tour and/or transfer.
</p><p><strong>IN ACCORDANCE WITH THE ABOVE, AND BY ACCEPTING THESE GENERAL TERMS OF USE, THE USERS DECLARE HAVE EXPRESSLY READ AND ACCEPTED THE PRESENT CANCELLATION POLICY AND HEREBY AGREE TO THE CANCELLATION POLICIES OF EACH ACTIVITY, DAY TRIP, GUIDED TOUR AND / OR TRANSFER THAT ARE RESERVED ON THE PRESENT WEBSITE. </strong></p>

<h3>8.- Terms of Use for the Website</h3>
<p>
  The User commits to use the contents and services offered by the Website legally, diligently and adequately. The legislations and the Terms of Use will be respected at all times and with the covenant of good faith. In addition to other restrictions set forth in these Terms of Use, the User agrees that:
</p>
<ol>
  <li>The User may not access or use the Website or the Entity’s systems or services in any way that CIVITOURS might judge to be illegal, fraudulent or related to any criminal activity.</li>
  <li>The User will not input or upload any information that contains viruses or any other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system or Content on the Website.</li>
  <li>The User will not reproduce, copy, distribute, transform or modify the Contents saved on the Website in a manner not expressly permitted by CIVITOURS.</li>
  <li>The User shall not use or reuse any illegal, offensive, abusive, indecent, defamatory, obscene or threatening material, or that constitutes an infringement of Intellectual Property rights, trademarks, confidentiality, privacy or any other right, or is otherwise offensive, reprehensible for third parties, or whose content has computer viruses, political propaganda, advertising, chain mail, mass mailing or any other type of spam and, in general, any content that can cause any kind of necessary inconvenience.</li>
  <li>Register or give information that is not reliable, exact, complete and/or updated, nor access the Website using a name, information or the password of another User or impersonate any person or identity.</li>
</ol>
<p>
CIVITOURS reserves the right to deny access to any User that misuses the Contents and /or fails to fulfill any of the conditions that are included in these Terms of Use.
</p>
<h3>9.- Comments, reviews and opinions</h3>
<p>
Users that reserve activities, day trips, guided tours and/or transfers on the present website can publish their reviews and opinions on the Website.
</p><p>
To do this, CIVITOURS will send Users an email when the activity or transfer is over, so that they can review their experience and service provided by CIVITOURS.
</p><p>
When CIVITOURS receives a User’s review, it will be looked over and published as soon as possible on the present website.
</p><p>
It is forbidden to upload intimidating, threatening, degrading or that promote violence against a particular group of people in any way. The Website cannot be used for advertising, promoting companies or businesses, brands or personal elements. CIVITOURS will only publish User’s reviews that correspond to the service reserved by the User.
</p><p>
  In particular, CIVITOURS reserves the right to not publish reviews that include the following words and phrases:
</p>
<ol>
  <li>Discriminatory remarks: In no case will CIVITOURS publish Users’ remarks that are offensive, unsuitable or derogatory to an individual and that violate the right to honour and to personal and family rights and self-image and the dignity of a person. All comments that are racist, sexist, discriminating of any nationality, opinion or disability or any other personal or social circumstance are also forbidden.</li>
  <li>Illegal activities: It is forbidden to upload content that promotes illegal activities or that include obscene or defamatory content.</li>
  <li>Violence: It is expressly forbidden for the reviews to include texts that promote violence and/or that include sexual violence or violence against animals and people.</li>
  <li>Degrading content: It is forbidden to upload reviews or opinions that are intimidating, threatening, degrading or any content that promotes violence against an individual or a determined collective.</li>
</ol>
<h3>10.- Product liability</h3>
<p>
  CIVITOURS is not liable of the following claims, nor limited to:
</p>
<ol>
  <li>Users that cancel a service after the deadline date. CIVITOURS is not liable under any concept to repay the amount paid by the Users when they have not complied with the cancellation period stipulated in the cancellation policy applied to each service.</li>
  <li>When Users are late to get to the activity’s meeting point on the day of the activity (reserved guided tour, day trip and/or transfer). This means that CIVITOURS will not assume any responsibility if the User is late for the activity or misses his or her transfer due to lateness and/or for not finding the correct meeting point.</li>
  <li>When the local suppliers do not allow Users to take part in the corresponding activity, day trip and/or guided tour because the User does not provide the corresponding voucher, either printed or downloaded on their smartphone (according to what the Supplier asks for).</li>
  <li>When the Users’ property is damaged or stolen during the activity, day trip, guided tour booked or during the transfer service reserved.</li>
  <li>When Users suffer an accident, an injury or any type of damage during the activity, day trip, guided tour and/or transfer service. Moreover, Users that suffer an accident or injury before the day of the activity and which impedes them to enjoy the service booked.</li>
  <li>When the transfer service does not arrive at the meeting point because the information provided by the User is incorrect or mistaken concerning the time and address.</li>
  <li>When Users miss their flights, trains, buses or any other means of transportation, as a consequence of not having reserved the transfer service with enough time in advance as recommended by CIVITOURS. Users are responsible for knowing their departure time (flight/train/bus) and reserve the corresponding transfer service with sufficient time.</li>
  <li>For the weather conditions in which the local supplier carries out the activities, day trips and guided tours reserved by the Users. Under no circumstance is CIVITOURS responsible for these circumstances, so the service is believed to be carried out correctly.</li>
  <li>Of the quality of the service provided by the local supplier.</li>
</ol>
<p>
Likewise, in no event shall CIVITOURS be liable or made responsible or provides any guarantee for any type of damage caused by the access or usage of the Contents or the Website. CIVITOURS is not liable of the following circumstances:
</p>
<ol start="9">
  <li>If the Website and / or its services or Contents are unavailable, under maintenance or are incorrectly used, excluding, to the maximum extent permitted by current legislation, any liability for damages that may be related to the lack of availability or continuity of the Website and its Content enabled.</li>
  <li>The existence of a virus or other computer programming routines that can damage the Content.</li>
  <li>By reasons of force majeure, for example, failure, suspension or interruption of services or use of the Website, as a result of an Internet blockage, third parties’ actions or omissions, or any other independent causes or circumstances that prevent the normal use of the Website.</li>
  <li>An illicit, negligent and fraudulent usage of the Website which are contrary to these Terms of Use. Or in good faith, of the Website and its Contents, on behalf of the Users.</li>
</ol>
<p>
CIVITOURS reserves the right to take legal action considered opportune and that by law correspond the company against Users who violate the dispositions outlined above, and in general, for failure to fulfill these General Terms of Use.
</p>
<h3>11.- Intellectual property</h3>
<h4>11.1.- Intellectual and industrial property rights relating to the Website owned by CIVITOURS</h4>
<p>
Any and all intellectual property rights associated with the Website and its contents are the sole property of CIVITOURS or third party websites. All designs, texts, custom graphics, logos, icons, buttons, software, names, brands, industrial drawings and other items that appear on the Website are property of CIVITOURS and other entities that have granted CIVITOURS the right and license to use such Marks and may not be used or interfered with without the written consent of CIVITOURS or the third-party entities.
</p><p>
None of the Website’s Content and/or information may be modified, reproduced, republished, translated into any other language, distributed or re-transmitted in any form or by any means without prior written consent of CIVITOURS in compliance with the Royal Legislative Decree 1/1996, 12 April, which approves the Consolidated Text of the Intellectual Property Law, as well as Law 17/2001, 7 December, of Trademarks and the complementary legislation in matter of Intellectual and Industrial property.
</p><p>
CIVITOURS does not give the User any license or authorization of any kind on its intellectual and industrial Property Rights or any other kind of rights related to the Website, services and Contents. In no case will the access and navigation of the Users imply a renounce, transmission, license or total or partial cession of these rights on behalf of CIVITOURS.
</p><p>
Any use of these contents not previously authorized by CIVITOURS will be considered a serious infringement of the intellectual or industrial property rights and will give rise to legally established liabilities.
</p>
<h4>11.2.- Intellectual property concering the Users’ reviews published on the Website.</h4>
<p>
Since CIVITOURS allows Users to publish their reviews on the present website, the Users must give CIVITOURS a universal license, without restrictions and free to use, distribute, public communication, adaptation and duplicate these reviews. Via this license, CIVITOURS can transform, adapt and to sum up, use the Users’ reviews for publicity and promotion of CIVITOURS’ Website and social media.
</p>
<h3>12.- Modifications</h3>
<p>
  CIVITOURS reserves the right to make as many changes as necessary in these General Conditions of Use. If any modifications are made, Users will be previously informed. These modifications will be valid from the moment they are published on the Website.
</p>
<h3>13.- Safeguard Clause</h3>
<p>
  All the clauses or provision in these General Conditions of Use must be interpreted independently and autonomously. The rest of clauses may not be affected if one of them is declared void by judicial judgment or firm arbitration. The clause or clauses that have been affected will be replaced by other provisions that preserve these General Conditions of Use.
</p>
<h3>14.- Jurisdiction and applicable legislation</h3>
<p>
These General Conditions of Use are in accordance with the Spanish Legislation. In case of a litigation concerning the interpretation, execution or validity of these General Conditions of Use, the Courts and Tribunals of the User shall be competent.
</p><p>
In accordance with Regulation (EU) No 524/2013 of the European Parliament and of the Council of 21 May 2013. on the resolution of online consumer litigations, CIVITOURS also informs Users that, in case of controversy, Users residents in the European Union will be able to go to the "Online Platform for Conflict Resolution" developed by the European Commission, in order to try to solve extrajudicially any controversy arising from the provision of services by CIVITOURS.
</p><p>
To access the "Online Platform for Conflict Resolution" go to the following link: http://ec.europa.eu/consumers/odr/
</p><p>
In any case, CIVITOURS makes it clear to the Users that they have a Claim Form by which they can make any complaint or claim in relation to the services provided by CIVITOURS.
</p>
</div>