<div class="container pt-1">
    <h1>Admin area</h1>
    <nav>
        <ol class="breadcrumb">
            <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item" aria-current="page">{{ breadcrumb }}</li>
        </ol>
    </nav>
    <nav class="nav mb-3">
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/geo" routerLinkActive="active">Geo</a>
        <a class="nav-link btn btn-light mr-1" routerLink="/admin/activities" routerLinkActive="active">Activities</a>
    </nav>
</div>
<router-outlet></router-outlet>
