<div class="container">
  <h1>Legal Disclaimer</h1>
  <p>
    These General Terms of Use regulates the access, navigation and use of the present website (hereinafter to be referred to as the “Website”).
  </p>
  <h3>1.- General information</h3>
  <p>
    In accordance with the Spanish Legislation on Information-Society Services and e-commerce, article 10 of Law 34/2002, 11 July, this website was created by:
  </p>
  <p>
    1) Civitours
  </p>
  <p>
    CIVITOURS provides direct services, and especially those related to the Entity’s activities: travel agency. For example, anything related to travel, transfers, activities, excursions and guided tours.
  </p>
  <h3>2.- Users</h3>
  <p>
      Accessing and/or using the Website gives you the status of user (hereinafter the “User”). Your continued usage of the Website means you accept these General Conditions of Use.
  </p>
  <h3>3.- Terms of use for the website</h3>
  <p>
    The Website can give Users access to a wide range of texts, graphics, drawings, designs, codes, software, photographs, music, videos, sounds, databases, images, expressions and information (hereinafter referred to as “Contents”) belonging to CIVITOURS or to third parties, which the User can also access.
  </p>
  <p>
    The User is responsible for the use of the Website. This responsibility also applies to when the User is asked to register to access certain Contents offered by the Website.
  </p>
  <p>
    The User commits to use the Contents and services offered by the Website legally, diligently and adequately. The legislations and the Terms of Use will be respected at all times and with the covenant of good faith.
  </p>
  <p>
    In addition to other restrictions set forth in these Terms of Use, the User agrees that:
  </p>
  <ol>
    <li>The User shall not use or reuse any illegal, offensive, abusive, indecent, defamatory, obscene or threatening material, or that constitutes an infringement of Intellectual Property rights, trademarks, confidentiality, privacy or any other right, or is otherwise offensive, reprehensible for third parties, or whose content has computer viruses, political propaganda, advertising, chain mail, mass mailing or any other type of spam and, in general, any content that can cause any kind of necessary inconvenience.</li>
    <li>The User will not input or upload any information that contains viruses or any other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system or Content on the Website.</li>
    <li>The User may not access or use the Website or the Entity’s systems or services in any way that THE OWNER OF THE WEB might judge to be illegal, fraudulent or related to any criminal activity.</li>
    <li>The User will not reproduce, copy, distribute, transform or modify the Contents saved on the Website in a manner not expressly permitted by CIVITOURS.</li>
  </ol>
  <p>
    CIVITOURS reserves the right to deny access to any User that misuses the Contents and /or fails to fulfil any of the conditions that are included in these Terms of Use.
  </p>
  <h3>4.- Intellectual property</h3>
  <p>
    Any and all intellectual property rights associated with the Website and its contents are the sole property of CIVITOURS or third party websites. All designs, texts, custom graphics, logos, icons, buttons, software, names, brands, industrial drawings and other items that appear on the Website are property of THE OWNER OF THE WEB and other entities that have granted CIVITOURS the right and license to use such Marks and may not be used or interfered with without the written consent of CIVITOURS or the third-party entities.
  </p>
  <p>
    CIVITOURS does not give the User any license or authorization of any kind on its intellectual and industrial Property Rights or any other kind of rights related to the Website, services and Contents.
  </p>
  <p>
    None of the Website’s Content and/or information may be modified, reproduced, republished, translated into any other language, distributed or re-transmitted in any form or by any means without prior written consent of CIVITOURS in compliance with the Royal Legislative Decree 1/1996, 12 April, which approves the Consolidated Text of the Intellectual Property Law, as well as Law 17/2001, 7 December, of Trademarks and the complementary legislation in matter of Intellectual and Industrial property.
  </p>
  <p>
    The Users commit to respect the Website’s Intellectual property rights and sole property rights, whether of CIVITOURS or of third parties.
  </p>
  <p>
    Likewise, CIVITOURS is not held responsible for the use and dissemination of the images and / or Contents input in the Website.
  </p>
  <h3>5.- Warranties and product liability</h3>
  <p>
    CIVITOURS has adopted the necessary measures that, within its possibilities and within the current technology, allow the Website’s proper functioning, as well as excluding viruses and other harmful components.
  </p>
  <p>
    Nevertheless, in no event shall CIVITOURS be liable or made responsible or provides any guarantee for any type of damage caused by the access or usage of the Contents or the Website. CIVITOURS is not liable of the following circumstances:
  </p>
  <ol>
    <li>If the Website and / or its services or Contents are unavailable, under maintenance or are incorrectly used, excluding, to the maximum extent permitted by current legislation, any liability for damages that may be related to the lack of availability or continuity of the Website and its Content enabled.</li>
    <li>The errors that might exist in the Content or the corrections of any defect that might occur.</li>
    <li>CIVITOURS makes no representations of the results to be obtained from using the Website or its usefulness.</li>
    <li>The existence of a virus or other computer programming routines that can damage the Content.</li>
    <li>Any problem or bad service provided by CIVITOURS’S suppliers of the various services.</li>
    <li>The modification, redistribution, re-transmission of the Content by the User.</li>
    <li>An illicit, negligent and fraudulent usage of the Website which are contrary to these Terms of Use. Or in good faith, of the Website and its Contents, on behalf of the Users.</li>
  </ol>
  <p>
    CIVITOURS can suspend the access to the Website temporarily and without prior notice for maintenance, repair, updating or improvements. Nevertheless, CIVITOURS will try and notify the User in advance when the Website will be unavailable, anytime it is possible.
  </p>
  <h3>6.- Links to other websites</h3>
  <p>The Website may contain links or hyperlinks to third-party Websites and resources.</p>
  <p>CIVITOURS is not responsible or makes any warranties regarding the correctness of the Content, information or services found at any linked sites. CIVITOURS is not responsible for the availability or content of such sites; therefore, if the User decides to access the linked sites, they do so at their own risk and accepting the applicable policies and terms and conditions of use of the linked site.</p>
  <p>For this reason, we recommend reading all the linked sites’ privacy policy and Terms of Use.</p>
  <h3>7.- Comments and opinions</h3>
  <p>In case CIVITOURS allows Users to publish their opinions and / or comments on the Website, these must not include expressions that are rude in tone or abusive, including, unseemly texts that are not considered appropriate or that can be hurtful.</p>
  <p>Opinions and / or comments that are offensive, unsuitable or derogatory to an individual and that violate the right to honour and to personal and family rights and self-image and the dignity of a person are forbidden. All comments that are racist, sexist, discriminating of any nationality, opinion or disability or any other personal or social circumstance are also forbidden.</p>
  <p>Moreover, it is forbidden to upload intimidating, threatening, degrading or that promote violence against a particular group of people in any way.</p>
  <p>The Website cannot be used for advertising, promoting companies or businesses, brands or personal elements.</p>
  <p>CIVITOURS is not responsible of the comments and / or opinions uploaded to the Website. The sole responsible for these comments is the person who uploaded them.</p>
  <h3>8.- Duration and modification</h3>
  <p>CIVITOURS can revise and update these Terms of Use, notifying the User. These Terms of Use will remain in force until they are modified.</p>
  <p>CIVITOURS may delete, update or change the Content and the services provided on the Website, as well as modify the design of the Content or services in the Website. The Terms of Use will be considered valid until these are modified by CIVITOURS.</p>
  <p>The continued access and usage of the Website will mean that the User accepts these Terms of Use and will mean the User also accepts the changes made.</p>
  <h3>9.- Applicable law and jurisdiction</h3>
  <p>These Terms of Use are governed by Spanish legislation.</p>
  <p>In the event of a dispute, if the User is a natural person, both parties will submit themselves to the Courts of the User’s residence. If it is an organization, both parties will be submitted to the Courts of Alcobendas (Madrid).</p>
</div>