<button class="modal__close flex align-items-center justify-content-center"  (click)="activeModal.dismiss('Cross click')">
  <svg class="icon icon-close" viewBox="0 0 11 11">
    <g><path d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
  </svg>
</button>
<div class="modal-wrap-content">
  <div class="modal__content flex flex-column align-items-center">
    <svg class="icon icon-success" viewBox="0 0 74 74">
      <g><circle cx="37" cy="37" r="37"></circle><circle cx="37" cy="37" r="36" stroke-width="2" stroke="#0086E6"></circle><g><path d="M24 37l9.75 10L50 27" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke="#0086E6"></path></g></g>
    </svg>
    <div class="modal__title">Item added to shopping card!</div>
    <div class="modal__subtitle">Сustomers who bought this item also bought</div>
    <svg [class.hidden]="relatedActivities | async" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#ff727d" transform="rotate(108 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
    <div class="activities flex justify-content-between">
      <app-activity-card
              *ngFor="let activity of relatedActivities | async "
              [activity]="activity"
              (onClicked)="onFeatureClicked($event)"
      ></app-activity-card>
    </div>
    <div class="modal__btn-added flex align-items-center justify-content-center"><a class="btn btn--big" href="#">shopping card</a><a class="btn btn--big btn--reverse" (click)="activeModal.dismiss('Cross click')">continue shopping</a>
    </div>
  </div>
</div>
