<div class="features__block container flex">
  <h2 class="features__header flex justify-content-center">Featured activities
  </h2>
  <div class="activities flex justify-content-between">
    <app-activity-card
            *ngFor="let activity of featuredActivities "
            [activity]="activity"
    ></app-activity-card>
  </div>
  <a *ngIf="!thatsAll" class="activities-more" (click)="showMore()">
    <span class="activities-more__show">Show more</span>
    <img class="activities-more__img" src="assets/images/ellipse.svg">
    <div  class="airplan">
      <img class="activities-more__air-1" src="assets/images/icon-air-1.svg">
      <img class="activities-more__air-2" src="assets/images/icon-air-2.svg">
    </div>
  </a>
</div>