@import 'variables'

.features__header
  color #000
  font-size 36px
  padding-bottom 34px
  font-family font-family-md
.features__block
  flex-direction column
  align-items center
.activities
  padding-bottom 56px
  flex-wrap wrap
  position relative
.activities-more
  color #2B2B28
  font-size 14px
  width 82px
  height 82px
  position relative
  &:hover
    .airplan
      cursor pointer
      animation showmore 5s linear infinite
  .activities-more__img
    width 82px
    height 82px
    position absolute
    top 0
    right 0
  &__show
    font-size 14px
    letter-spacing 0.06em
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    z-index 2
  .airplan
    width 82px
    height 82px
    border-radius 50%
    position absolute
    z-index 2
    .activities-more__air-1
      position absolute
      width 15px
      height 16px
      top -7px
      left 50%
      margin-left -10px
    .activities-more__air-2
      position absolute
      width 15px
      height 15px
      bottom -7px
      left 50%
      margin-left -10px

@keyframes showmore
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
