doctype html
html(lang="en")
    include common/header.pug
    body
        h1 Please verify your mail
        p.firstline please confirm your mail #{mail}
        a(href=link) confirm
        include common/footer.pug