doctype html
html(lang="en")
    include common/header.pug
    body
        h1 Please verify your mail
        p.firstline password reset request
        a(href=link) reset
        include common/footer.pug