@import 'variables'

.modal-overlay
  position fixed
  width 100%
  height 100%
  background rgba(0,0,0,0.4)
  display none
  z-index 9

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in
  animation fadeIn .3s ease-in forwards

/deep/ .tooltip-inner {
  margin-top: 10px;
  color: blue;
}
.calendar-block *{
  outline: none;
}
.calendar-block {
  font-family: 'Roboto';
  font-size: 14px!important;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  &__icon{
    display: inline-block;
    margin-right: 19px;
    vertical-align: middle;
    img{
      display: block;
    }
  }
  &__triangle{
    position: absolute;
    right: 30px;
    top:50%;
    transform: translateY(-50%);
  }
  &:not(:first-child){
    margin-top: 10px;
  }

  &.date-div {

    /deep/ .collapse {
      display:none;
      &.show {
        display: block;
      }

    }

    ngb-datepicker {
      padding: 15px;
      border: none;
      width: 100%

      /deep/ .ngb-dp-header {
        margin-bottom: 15px;

        ngb-datepicker-navigation {
          height: 32px;
          line-height: 32px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 0 13px;

          /deep/ .ngb-dp-month-name {
            line-height: 2rem;
            text-align: center;
            font-weight: bold;
            flex:1;

            &.d-block {
              font-size: 14px!important;
            }
          }

          /deep/ .ngb-dp-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-grow: 0!important;
            align-items: center;
            padding-right: 0px;
            padding-left: 0px;
            margin: 0px;

            button:hover {
              background-color: white;
            }

            .ngb-dp-arrow-btn {
              padding:0;
              background: 0;
              border:0;
              box-shadow: none;
              cursor:pointer;

              .ngb-dp-navigation-chevron {
                color: black;

                &::before {
                  border-style: solid;
                  border-width: .15em .15em 0 0;
                  content: "";
                  display: inline-block;
                  width: .7em;
                  height: .7em;
                  transform: rotate(-135deg);
                  -webkit-transform: rotate(-135deg);
                  -ms-transform: rotate(-135deg);
                }
              }
            }

            &.right {
              -webkit-box-pack: end;
              -ms-flex-pack: end;
              justify-content: flex-end;

              .ngb-dp-navigation-chevron:before {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
          }
        }
      }

      /deep/ .ngb-dp-month {
        width: 100%;

        .ngb-dp-week {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;

          &.ngb-dp-weekdays {
            background-color: background-color!important;
            border-bottom: none!important;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0rem;

            .ngb-dp-weekday {
              font-size: 11px;
              opacity: 0.4;
              width: 32px;
              color: #2b2b2b!important;
            }
          }

          .ngb-dp-day {
            cursor: pointer;

            &.disabled, &.hidden {
              cursor: default;
            }

            .btn-light {
              text-align: center;
              width: 32px;
              height: 32px;
              line-height: 33px;
              background: transparent;
            }

            .outside {
              opacity: 0.3;
            }
          }
        }

        .ngb-dp-day:not(.disabled) {
          .btn-light {
            transition: all 0.3s;
            &:hover {
              background-color: hover-color;
              color: #fff;
            }
          }

          .btn-light.bg-primary {
            color: selected-text-color!important;
            background-color: selected-background-color!important;
          }
        }
      }
    }
  }

  // Time select block
  &.time-div {
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 15px;
    color: text-color;

    .calendar-block__icon {
      padding-top: 2px;
      vertical-align: top;
    }

    .time-labels {
      display: inline-block;
      padding-bottom: 5px;
      width: 80%;
    }

    .time-placeholder {
      display: inline-block;
      margin-top: 4px;
      margin-left: 8px;
    }

    .timeselect-wrapper {
      display: inline-block;
      &:not(:last-child){
        margin-right: 10px;
      }

      .timeselect {
        border: solid 1px rgba(0,0,0,0.3)
        color:rgba(0,0,0,0.3);
        border-radius: 2px;
        width: 50px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        display: inline-block;
        transition: all 0.3s;
        cursor:pointer ;

        &:hover {
          background-color: selected-background-color;
          border-color: selected-background-color;
          color: selected-text-color;
        }
      }

      input[type=radio] {
        display: none;

        &:checked {
          + label {
            background-color: selected-background-color;
            border-color: selected-background-color;
            color: selected-text-color;
          }
        }
      }
    }
  }

  ngb-accordion {
    /deep/ .card { // force go deep in component style ignore component namespace
      border-style: none;
      .card-body{
        border-top: 1px solid #DBDBDB;
      }
      .card-header {
        background-color: white;
        padding: 0px;

        a {
          color: text-color;
          display: block;
          padding: 15px 20px;
          position: relative;

          &:hover {
            text-decoration: none;
          }

          span {
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgba(0,0,0,0.3);
          }
        }
      }
    }
  }

  &.type-div {
    padding: 0px;

    .type-wrapper {
      margin: 0;

      .types {
        padding: 14px 20px 14px 52px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgba(0,0,0,.3);
        border-bottom: solid 1px rgba(0,0,0,0.1);

        &:hover {
          background: solid 1px rgba(0,0,0,0.1);
        }
      }
    }
  }

  // People select block
  &.people-div {

    padding: 0px;

    .tickets-wrapper {
      margin: 0;

      .tickets {
        padding: 13px 20px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .ticket-header {
          color: rgba(0,0,0,0.4);
          margin-bottom: 5px;
          width:100%;
        }

        .column {
          display: flex;
          align-items: center;
          flex:1;

          &.price {
            color: rgba(0,0,0,0.4);
            font-size: 18px;
          }

          &.total {
            text-align: right;
            color: #000;
            font-size: 18px;
            justify-content: flex-end;
          }

          .rnd-btn {
            border: none;
            cursor: pointer;
            background-color: background-color;

            &:hover {
              color: selected-background-color;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.total-div {
  width: panel-width;

  .total-row {
    padding: 15px 15px 0px 15px;
    color: text-color;
  }

  .price {
    text-align: right;
    float: right;
  }

  .total-overall {
    border-top: solid 1px active-color;
    margin-top: 15px;
    padding: 15px;
    font-size: large;
    font-weight: 500;
  }
}

.order-button {
  width: 100%;
  height: 48px;
  background-color: blue;
  color: #fff;
  font-size: 12px;
  margin-top: 25px;
  border: none;
  border-radius: 2px;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  transition: all .3s;

  &:focus {
    outline: none;
  }

  &:hover {
    background: dark-blue;
  }

  &[disabled] {
    opacity: 0.5;
  }
}