<div class="calendar-block date-div" ngbTooltip="Please select date" triggers="manual" placement="right" #dateTooltip="ngbTooltip">
  <ngb-accordion [destroyOnHide]="false" [activeIds]="['date-panel']" #dateAcc="ngbAccordion">
    <ngb-panel id="date-panel">
      <ng-template ngbPanelTitle>
        <div class="calendar-block__icon"><img src="assets/images/icon-clock.svg" alt=""></div>
        <span>{{ selectedDate ? (selectedDate | date:'longDate') : ('Date') }}</span>
        <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
      </ng-template>
      <ng-template ngbPanelContent>
        <ngb-datepicker
                #datePicker="ngbDatepicker"
                (select)="selectDate($event)"
                [markDisabled]="isDisabled"
                [navigation]="'arrows'"
                [firstDayOfWeek]="1">
        </ngb-datepicker>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="calendar-block time-div" ngbTooltip="Please select time" triggers="manual" placement="right" #timeTooltip="ngbTooltip">
  <div class="calendar-block__icon"><img src="assets/images/icon-clock.svg" alt=""></div>
  <div class="time-placeholder" *ngIf="!times.length">Please select available date</div>
  <div class="time-labels">
    <div class="timeselect-wrapper" *ngFor="let time of times; let i = index">
      <input type="radio" name="timeSelector" id ="timeSelector{{ i }}">
      <label class="timeselect" for="timeSelector{{ i }}" (click)="selectTime(time.time)">
        {{ time.name }}
      </label>
    </div>
  </div>
</div>
<div class="calendar-block type-div">
  <ngb-accordion #typesAcc="ngbAccordion">
    <ngb-panel id="types-panel">
      <ng-template ngbPanelTitle>
        <div class="calendar-block__icon"><img src="assets/images/icon-map.svg" alt=""></div>
        <span>{{ typesHash[order.type] ?  typesHash[order.type].name : ''  }}</span>
        <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="type-wrapper" >
          <div *ngFor="let type of types" (click)="selectType(type)" class="types" open-slider>
            {{ type.name }}
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="calendar-block people-div" ngbTooltip="Please select tickets" triggers="manual" placement="right" #ticketsTooltip="ngbTooltip">
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="calendar-block__icon"><img src="assets/images/icon-user.svg" alt=""></div>
        <span>{{ peopleHeader }}</span>
        <div class="calendar-block__triangle"><img src="assets/images/icon-triangle.svg" alt=""></div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="tickets-wrapper">
          <div *ngFor="let ticket of tickets" class="tickets">
            <div class="ticket-header">
              {{ ticket.name }}
            </div>
            <div class="column price">
              {{ ticket.price | currency:'EUR':'symbol':'1.2-2' }}
            </div>
            <div class="column">
              <button class="rnd-btn" (click)="removeTicket(ticket.id)"><img src="assets/images/icon-minus.svg" alt=""></button>
              <span class="amount">{{ order.tickets[ticket.id] || 0  }}</span>
              <button class="rnd-btn" (click)="addTicket(ticket.id)"><img src="assets/images/icon-plus.svg" alt=""></button>
            </div>
            <div class="column total">
              {{ (order.tickets[ticket.id] || 0) * ticket.price | currency:'EUR':'symbol':'1.2-2'}}
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div *ngIf="objectKeys(order.tickets).length" class="total-div">
  <div *ngFor="let id of objectKeys(order.tickets)" class="total-row">
    <span class="name">{{ ticketHash[id].name }}</span>
    <span class="price">{{ order.tickets[id] * ticketHash[id].price | currency:'EUR':'symbol':'1.2-2'}}</span>
  </div>
  <div class="total-overall">
    <span class="name">Total</span>
    <span class="price">{{ getTotal() | currency:'EUR':'symbol':'1.2-2'}}</span>
  </div>
</div>
<button [attr.disabled]="inSummit ? 'disabled' : null" type="button" (click)="submit()" class="btn--calendar order-button">
  <i *ngIf="isOk" class="fas fa-check-circle"></i>
  <i *ngIf="inSummit" class="fas fa-spinner fa-spin"></i>
  BOOK
</button>
