@import 'variables'

.lds-eclipse
  width 200px
  height 100%

.calendar
  background #F5F4F5
  height 100vh
  width 387px
  padding 47px 32px
  position fixed
  transform translateX(387px)
  transition all 0.4s
  right 0
  z-index 1000
  display flex
  flex-direction column
  top:0;
  &.active
    transform translateX(0px)
  &__module
    flex 1
    overflow-y auto
    padding 0 10px
  &__header
    margin-bottom 18px
    padding 0 10px

  .lds-eclipse
    display block
    margin-left auto
    margin-right auto

  .close
    border none
    background-color inherit
    width fit-content
    margin-left auto
    cursor pointer

    &:active
      outline none

    &:focus
      outline none
.tour
  &__ttl
    font-family font-family-sec
    font-size 15px
    font-weight bold
    flex 1
    a
      color currentColor
      &:hover
        color blue
  &__img
    margin-right 10px
    width 74px
    height 74px
    border-radius 50%
    overflow hidden
    img
      display block
      max-height 100%
      max-width 200%