<div #hostTarget class="calendar" [class.active]="isActive" id="calendar">
  <button (click)="close()" class="close">X</button>
  <svg [class.hidden]="isLoaded" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;"><path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#ff727d" transform="rotate(108 50 51)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></path></svg>
  <div *ngIf="isLoaded" class="calendar__header">
    <div class="tour flex align-items-center">
      <div class="tour__img"><img src="{{ activityInfo.avatar }}" alt="{{ activityInfo.name }}">
      </div>
      <div class="tour__ttl"><a href="#">{{ activityInfo.name}}</a>
      </div>
    </div>
  </div>
  <ng-scrollbar>
    <app-booking-calendar class="calendar__module"
                          *ngIf="isLoaded"
                          [types]="activityInfo.types"
                          [schedule]="activityInfo.schedule"
                          (onBooked)="book($event)"
    ></app-booking-calendar>
  </ng-scrollbar>
</div>