<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Name</span>
  </div>
  <input type="text" class="form-control" aria-label="Name" [(ngModel)]="form.name">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Avatar</span>
  </div>
  <app-uploader (imageUploaded)="onImageUploaded($event)"></app-uploader>
</div>
<div>
  <img *ngIf="!uploadData && !country.avatar" src="assets/images/no-img.png">
  <img *ngIf="uploadData || country.avatar" src="{{ uploadData ? uploadData.imageUrl : country.avatar }}" class="img-fluid mt-3" alt="Responsive image">
</div>
<app-edit-locale-name *ngIf="languageList$ | async" [languages]="languageList$ | async" [(localeNames)]="form.localeNames" ></app-edit-locale-name>
<div *ngIf="saveError" class="alert alert-danger" role="alert">{{ saveError }}</div>
<button
    class="btn btn-primary mt-3"
    [attr.disabled]="isSaving ? 'disabled' : null"
    (click)="saveCountry()"
>
{{ isSaving ? 'Saving...' : 'Save' }}
</button>


