<section class="footer">
    <div class="wrapper container flex justify-content-between">
        <div class="item-footer">
            <div class="item-footer__header">civitours
            </div>
            <ul class="list">
                <li class="list__item"><a href="#">About us</a>
                </li>
                <li class="list__item"><a href="#">Destinations</a>
                </li>
                <li class="list__item"><a href="#">Travel guides</a>
                </li>
                <li class="list__item"><a href="#">Magazine</a>
                </li>
            </ul>
        </div>
        <div class="item-footer">
            <div class="item-footer__header">Customer service
            </div>
            <ul class="list">
                <li class="list__item"><a href="#">FAQs</a>
                </li>
                <li class="list__item"><a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="item-footer">
            <div class="item-footer__header">Acceptable Use Policy
            </div>
            <ul class="list">
                <li class="list__item"><a routerLink="/policy/general">General Conditions</a>
                </li>
                <li class="list__item"><a routerLink="/policy/legal">Legal note</a>
                </li>
                <li class="list__item"><a routerLink="/policy/privacy">Privacy policy</a>
                </li>
                <li class="list__item"><a routerLink="/policy/cookies">Cookies</a>
                </li>
            </ul>
        </div>
        <div class="item-footer last">
            <div class="item-footer__header">Work with us
            </div>
            <ul class="list">
                <li class="list__item"><a href="#">Supliers</a>
                </li>
                <li class="list__item"><a href="#">Affilates</a>
                </li>
                <li class="list__item"><a href="#">Travel agencies</a>
                </li>
            </ul>
        </div>
        <div class="newsletter">
            <div class="newsletter__header">newsletter
            </div>
            <div class="newsletter__block">
                <div class="newsletter__left">
                    <div class="newsletter__img-block" onclick="myf();" id="hiddenImg">
                        <svg class="icon icon-newsletter" viewBox="0 0 99 55">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5 32.784l-9.384-6.102L2.24 54H96.76L58.884 26.682 49.5 32.784zm10.283-6.687L98 53.662V1.247l-38.217 24.85zM99 55H0V0h99v55zM96.545 1H2.455L49.5 31.591 96.545 1zM1 1.247l38.217 24.85L1 53.662V1.247z"/>
                        </svg>
                    </div>
                    <form class="newsletter__form" action="#" method="POST" id="visibleInput"><input class="newsletter__input" type="text" placeholder="E-mail"/>
                        <button class="newsletter__btn" type="submit" title="send">
                            <svg class="icon icon-arrow" viewBox="0 0 17 16">
                                <path d="M1 7a1 1 0 1 0 0 2V7zm15.707 1.707a1 1 0 0 0 0-1.414L10.343.929A1 1 0 0 0 8.93 2.343L14.586 8l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364zM1 9h15V7H1v2z"/>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="newsletter__right">
                    <ul class="icon">
                        <li class="icon__item"><a href="#">
                            <svg class="icon icon-in" viewBox="0 0 18 18">
                                <path d="M18 18h-4v-6.75c0-1.06-1.19-1.94-2.25-1.94S10 10.19 10 11.25V18H6V6h4v2c.66-1.07 2.36-1.76 3.5-1.76 2.5 0 4.5 2.04 4.5 4.51V18zM4 18H0V6h4v12zM2 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4z"/>
                            </svg></a>
                        </li>
                        <li class="icon__item"><a href="#">
                            <svg class="icon icon-instagram" viewBox="0 0 22 22">
                                <path d="M10.588 1.946h4.236c.705 0 1.411.177 1.94.354a3.5 3.5 0 0 1 1.942 1.946c.176.708.353 1.239.353 1.946v8.493c0 .707-.177 1.415-.353 1.946-.177.53-.353.884-.706 1.238s-.706.708-1.235.708c-.706.177-1.236.354-1.942.354h-8.47c-.706 0-1.412-.177-1.941-.354-1.06 0-1.765-.885-2.118-1.77-.176-.53-.353-1.238-.353-1.945v-4.247V6.37c0-.707.177-1.415.353-1.946a3.5 3.5 0 0 1 1.941-1.946c.706-.177 1.236-.354 1.941-.354 1.236-.177 1.589-.177 4.412-.177zm0-1.946H6.176c-.882 0-1.764.177-2.47.53C2.294 1.063 1.059 2.3.529 3.716.176 4.423 0 5.308 0 6.192V15.04c0 .884.176 1.769.53 2.653.529 1.416 1.588 2.477 3.176 3.185.882.354 1.765.53 2.647.53h8.824c.882 0 1.764-.176 2.646-.53 1.412-.53 2.471-1.592 3.177-3.185.353-.884.53-1.769.53-2.653v-4.424-4.423c0-.884-.177-1.769-.53-2.654-.53-1.415-1.588-2.476-3.177-3.184C16.588.177 15.883 0 15 0h-4.412zm0 5.13c-3 0-5.47 2.478-5.47 5.485 0 3.008 2.47 5.485 5.47 5.485 3 0 5.47-2.477 5.47-5.485 0-3.007-2.47-5.484-5.47-5.484zm0 9.024a3.544 3.544 0 0 1-3.53-3.539 3.544 3.544 0 0 1 3.53-3.538 3.544 3.544 0 0 1 3.53 3.538 3.544 3.544 0 0 1-3.53 3.539zm6.883-9.2c0 .708-.53 1.238-1.236 1.238S15 5.662 15 4.954s.53-1.239 1.235-1.239c.706 0 1.236.531 1.236 1.239z"/>
                            </svg></a>
                        </li>
                        <li class="icon__item"><a href="#">
                            <svg class="icon icon-fb" viewBox="0 0 22 22">
                                <path d="M19.941 0H1.235C.53 0 0 .53 0 1.238V20.17c0 .531.53 1.062 1.235 1.062h10.06v-8.316H8.47V9.731h2.823v-2.3c-.176-2.123 1.412-4.07 3.53-4.246h.705c.883 0 1.589 0 2.471.177v2.83h-1.765c-.706-.177-1.412.354-1.588 1.062v2.654h3.176l-.529 3.007h-2.647v8.316h5.47c.706 0 1.236-.531 1.236-1.239V1.238C21.176.531 20.647 0 19.94 0z"/>
                            </svg></a>
                        </li>
                        <li class="icon__item"><a href="#">
                            <svg class="icon icon-twitter" viewBox="0 0 23 19">
                                <path d="M22.765 2.367c-.883.354-1.765.708-2.647.708 1.059-.53 1.764-1.592 2.117-2.654-.882.53-1.94.885-3 1.062-1.764-1.947-4.764-1.947-6.706-.177-1.235 1.061-1.764 2.83-1.411 4.423-3.706 0-7.236-1.77-9.53-4.6-.353.707-.706 1.415-.706 2.3.177 1.592 1.06 3.007 2.47 3.892-.705 0-1.41-.177-1.94-.53-.177 2.3 1.412 4.245 3.53 4.6-.53.176-.883.176-1.413.176h-.882c.53 1.946 2.294 3.185 4.412 3.185-1.765 1.238-3.883 1.946-6 1.946H0c6.176 3.892 14.47 2.123 18.353-4.07 1.412-2.122 2.118-4.6 2.118-7.253v-.53c.882-.709 1.764-1.416 2.294-2.478z"/>
                            </svg></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer__bottom">
    <div class="footer__wrapper container flex justify-content-between align-items-center">
        <div class="copyright">&copy; Copyright 2018 Civitours
        </div>
        <ul class="icon-bottom">
            <li class="icon-bottom__item">
                <div class="icon-bottom__lock">GUARANTEED SECURE
                    <svg class="icon icon-lock lock" viewBox="0 0 20 22">
                        <g opacity=".3"><path d="M3 10h14a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2zM5 10V6a5 5 0 1 1 10 0v4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"/></g>
                    </svg>
                </div>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/paypal-logo.png" alt="paypal"/>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/mastercard-logo.png" alt="mastercard"/>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/visa-logo.png" alt="visa"/>
            </li>
            <li class="icon-bottom__item"><img src="assets/images/trustwave-logo.png" alt="trustwave"/>
            </li>
        </ul>
    </div>
    <div class="additional">
        Actividades Civitours SL - B39859194
    </div>
</section>