@import 'variables'

.footer
  background #242424
  padding 45px 0 39px 0

.additional
  margin-top 10px
  opacity 0.3
  color #fff
  text-align center
  width 100%

.item-footer
  .item-footer__header
    font-size 12px
    text-transform uppercase
    color #fff
    font-family font-family-md
    line-height 17px
    padding-bottom 33px
    padding-top 6px
  .list
    margin 0
    &__item
      padding-bottom 11px
      a
        font-family font-family-reg
        font-size 16px
        line-height 24px
        color rgba(255,255,255,0.6)
        &:hover
          color blue
.wrapper
  flex-wrap wrap
  .item__footer
    flex-basis 25%
    &.last
      padding-left 96px
.newsletter
  flex-basis 100%
  padding-top 44px
  .icon-newsletter
    width 99px
    height 60px
    stroke #fff
  &__block
    display flex
    align-items center
    justify-content space-between
  &__header
    text-transform uppercase
    color #fff
    font-size 12px
    line-height 17px
    padding-bottom 19px
    font-family font-family-md
    flex-basis 100%
  &__img
    width 99px
    height 60px
    &-block
      cursor pointer
  &__form
    position relative
    display none
  &__input
    padding 17px 48px 19px 29px
    width 367px
    font-size 16px
    line-height 20px
  &__btn
    position absolute
    right 0
    top 0
    width 48px
    height 100%
    border none
    outline none
    background-color transparent
    display flex
    align-items center
    &:hover
      cursor pointer
    .icon-arrow
      fill blue
      width 15px
      height 100%
.icon
  display flex
  justify-content flex-end
  margin 0
  &__item
    padding-left 65px
    margin 0
  .icon
    width 18px
    height 18px
    fill #fff
    &:hover
      fill blue
.footer__bottom
  background #212121
  padding 13px 0 28px 0
  .icon
    fill none
    width 18px
    height 20px
.copyright
  opacity .3
  font-size 16px
  color #fff
  line-height 19px
  font-family font-family-reg
.icon-bottom
  display flex
  align-items center
  margin 0
  &__item
    padding-left 42px
    margin 0
  &__lock
    font-size 12px
    text-transform uppercase
    line-height 17px
    color #fff
    opacity .3
    padding-left 32px
    position relative
    font-family font-family-md
    &:hover
      color #fff
    .icon-lock
      position absolute
      left 2px
      top -4px
.hidden__img
  display none
.visible
  display block