<div class="dropdown__basket__item"><a class="dropdown__basket__link"><img class="dropdown__basket__img" src="{{ item.activity.avatar }}"></a>
  <div class="dropdown__basket__content">
    <div class="dropdown__basket__block flex justify-content-between"><a class="dropdown__basket__title">{{ item.activity.name }}</a>
      <div close-basket-item class="dropdown__basket__close" (click)="delete()">
        <svg close-basket-item class="icon icon-close" viewBox="0 0 11 11">
          <g close-basket-item><path close-basket-item d="M.95.55l9.192 9.193-.707.707L.243 1.257z"></path><path close-basket-item d="M10.142 1.257L.95 10.45l-.707-.707L9.435.55z"></path></g>
        </svg>
      </div>
    </div>
    <div class="dropdown__basket__block flex justify-content-between">
      <div class="dropdown__basket__adult">{{ item.getTicketData().ticketNames.join(',') }}</div>
      <div class="dropdown__basket__price">{{ item.getTicketData().total | currency:'EUR':'symbol':'1.2-2'}} </div>
    </div>
  </div>
</div>