.destination-navigation
  padding 32px 0
  background-color #fff
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05)

  a
    color rgba(0,0,0,0.5);
    cursor pointer
    &:hover
      color black
    &.selected
      border-bottom solid