@import 'variables'

.country-search
  &__country-select
    display flex
    align-items center
    width 200px
    height 47px
    cursor pointer
    &.hidden__img
      display none
  &__heading
    font-size 21px
    line-height 25px
    color rgba(255,255,255,.7)
    font-family font-family-md
    padding-right 24px
    &:first-letter
      text-transform uppercase
  .icon-dropdown-footer
    width 8px
    height 4px
    fill #fff
.selectize-control
  display none
  width 300px
  box-shadow 0px 8px 8px rgba(0, 0, 0, 0.06)
  position relative
  &__dropdown
    position absolute
    top 47px
    left 0
    width 300px
    height auto
    background-color #fff
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px
    &-content
      overflow-y auto
      overflow-x hidden
      max-height 180px
      border-bottom-right-radius 2px
      border-bottom-left-radius 2px
      .option
        a
          font-size 16px
          color #000
          display block
          padding 13px 0 13px 54px
          border-top 1px solid #D0D4D9
          transition all .2s
          cursor pointer
          &:hover
            color blue
        &.active
          a
            color blue
  &__input
    position relative
    width 300px
    height 47px
    .selectize-search
      width 15px
      height 15px
      fill transparent
      position absolute
      top 50%
      left 17px
      transform translateY(-50%)
      stroke blue
    input
      width 100%
      height 100%
      padding-left 50px
      border none
      border-top-right-radius 2px
      border-top-left-radius 2px

  &.visible
    display block