<div class="country-search">
  <div class="country-search__country-select" [class.hidden__img]="isOpened" (click)="isOpened = true">
    <div class="country-search__heading">{{ selectedName }}</div>
    <svg class="icon icon-dropdown-footer" viewBox="0 0 13 7">
      <path d="M6.5 7L12.13.25H.87L6.5 7z" fill-opacity=".2"></path>
    </svg>
  </div>
  <div class="selectize-control" [class.visible]="isOpened">
    <div class="selectize-control__input">
      <svg class="icon selectize-search" viewBox="0 0 18 18">
        <g><path d="M8.013 14.6a6.4 6.4 0 1 1 0-12.8 6.4 6.4 0 0 1 0 12.8zM12.766 13.608l2.829 2.828" stroke-width="2" stroke-linecap="square" stroke="#0086E6"></path></g>
      </svg>
      <input type="text" placeholder="Search" (input)="searchCountry($event)">
    </div>
    <div class="selectize-control__dropdown">
      <div class="selectize-control__dropdown-content">
        <div *ngFor="let country of countries" class="option" [class.active]="country.code==selectedCountry">
          <a (click)="selectCountry(country.code, country.name)">{{ country.name }}</a>
        </div>
      </div>
    </div>
  </div>
</div>