.mb-3
  margin-bottom 1rem

.mt-3
  margin-top 1rem

/deep/.input-group
  position relative
  display -ms-flexbox
  display -webkit-box
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  -ms-flex-align stretch
  -webkit-box-align stretch
  align-items stretch
  width 100%

  .input-group-prepend
    display -ms-flexbox
    display -webkit-box
    display flex
    margin-right -1px

    .input-group-text
      border-top-right-radius 0
      border-top-left-radius 0.25rem
      border-bottom-right-radius 0
      border-bottom-left-radius 0.25rem
      display -ms-flexbox
      display -webkit-box
      display flex
      -ms-flex-align center
      -webkit-box-align center
      align-items center
      padding 0.375rem 0.75rem
      margin-bottom 0
      font-size 1rem
      font-weight 400
      line-height 1.5
      color #495057
      text-align center
      white-space nowrap
      background-color #e9ecef
      border 1px solid #ced4da
      width 75px

  .form-control
    border-top-right-radius 0.25rem
    border-top-left-radius 0
    border-bottom-right-radius 0.25rem
    border-bottom-left-radius 0
    position: relative;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    margin-bottom: 0;
    display block
    padding 0.375rem 0.75rem
    font-size 1rem
    line-height 1.5
    color #495057
    background-color #fff
    background-clip padding-box
    border 1px solid #ced4da
    -webkit-transition border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    transition border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out
    transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    transition border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out



.error-input
  color red
.btn[disabled]
  opacity 0.5

.alert
  position relative
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem
  word-wrap break-word
  &.alert-danger
    color #721c24
    background-color #f8d7da
    border-color #f5c6cb

/deep/ngb-progressbar
  margin-top 5rem

  .progress
    height 1rem
    overflow hidden
    font-size .75rem
    background-color #e9ecef
    border-radius .25rem
    display flex
    display -webkit-box
    display -ms-flexbox

    .progress-bar
      display -webkit-box
      display -ms-flexbox
      display flex
      -webkit-box-orient vertical
      -webkit-box-direction normal
      -ms-flex-direction column
      flex-direction column
      -webkit-box-pack center
      -ms-flex-pack center
      justify-content center
      color #fff
      text-align center
      background-color #007bff
      transition width .6s ease
      &.bg-info
        background-color #17a2b8!important
