<li class="options__item flex justify-content-center">
    <a *ngIf="!auth.isAuthenticated()" class="options__btn sign flex align-items-center" [routerLink]='' [queryParams]="{modal: 'login'}">
        <span >Sign in/up</span>
    </a>
    <a *ngIf="auth.isAuthenticated()" class="options__btn auth flex d-inline-block align-items-center" ngbDropdown>
        <button class="btn btn-outline-primary" id="dropdownBasic" ngbDropdownToggle>{{ auth.getTokenData().userName }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button (click)="auth.logOut()" class="dropdown-item">Logout</button>
        </div>
    </a>
</li>
