<div *ngIf="isLoading && !forAdmin" class="spinner"><div class="loading"></div></div>
<div *ngIf="isLoading && forAdmin" class="loading-small"></div>
<div [class.hidden]="isLoading">
    <app-hero [activity]="activityInfo"></app-hero>
    <app-navigation (onMenuChanged)="navigateToFragment($event)"></app-navigation>
    <section class="activity-block" *ngIf="activityInfo">
        <div class="container">
            <div class="sidebar-wrap sidebar-wrap--reverse flex justify-content-between">
                <div class="sidebar">
                    <div class="sale flex">
                        <div class="sale__item">No hidden fees or surcharges</div>
                        <div class="sale__item">
                            <div class="price">
                                <div class="price__from">from
                                    <div class="price__crossed">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                </div>
                                <div class="price__now">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="calendar js-calendar calendar calendar--activity" id="calendar">
                        <div class="calendar__module">
                            <app-booking-calendar
                                    [types]="activityInfo.types"
                                    [schedule]="activityInfo.schedule"
                                    (onBooked)="book($event)"
                            ></app-booking-calendar>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="icon-content flex">
                            <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                            </svg>
                            <div class="icon-content__title">Cancellations</div>
                            <div class="icon-content__second-line">{{ activityInfo.cancelation_descriprion }}</div>
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="icon-content flex">
                            <svg class="icon icon-exclamatory" viewBox="0 0 16 18">
                                <path d="M15 11.889V3a2 2 0 0 0-2-2H3a2 2 0 0 0-2 2v6.889a2 2 0 0 0 2 2h7.333v4.667L15 11.889z" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <div class="icon-content__title">Reviews</div>
                        </div>
                    </div>
                    <div *ngFor="let review of reviews" class="sidebar__item">
                        <div class="card-comment card-comment card-comment--sm">
                            <div class="card-comment__caption">
                                <div class="card-comment__title flex">
                                    <div class="card-comment__name">{{ review.author }}</div>
                                    <div class="card-comment__place">{{ review.header }}</div>
                                </div>
                            </div>
                            <div class="card-comment__content">{{ review.text }}</div>
                            <div class="icon-score">
                                <div class="icon-score__star">
                                    <ngb-rating [rate]="review.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
                                    <ng-template #t let-fill="fill">
                                        <svg class="icon icon-star" [class.active]="fill === 100" viewBox="0 0 12 12">
                                            <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
                                        </svg>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-wrap__content">
                    <div class="activity">
                        <div class="sale flex">
                            <div class="flex">
                                <div class="sale__item">No hidden fees or surcharges</div>
                                <div class="sale__item">
                                    <div class="price">
                                        <div class="price__from">from
                                            <div class="price__crossed">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                        </div>
                                        <div class="price__now">{{ activityInfo.min_price | currency:'EUR':'symbol':'1.2-2' }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="sale__item">
                                <div class="btn">book</div>
                            </div>
                        </div>
                    </div>

                    <!--Description block-->
                    <div id="desc">
                        <div  class="top-content">{{ activityInfo.short_description }}</div>
                        <div class="gallery-wrap">
                            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                        </div>
                        <div class="description" [innerHtml]="activityInfo.description | keepHtml"></div>
                    </div>

                    <!--Prices block-->
                    <div id="prices">
                        <div *ngIf="!activityInfo.types.length">
                            <h2 class="activity__header">Prices are not available at the moment</h2>
                        </div>
                        <div *ngIf="activityInfo.types.length">
                            <h2 class="mobile-header-accordion active">Prices
                                <svg class="icon icon-accordion-arrow" viewBox="0 0 8 5">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h8L4 5 0 0z"></path>
                                </svg>
                            </h2>
                            <div class="mobile-accordion">
                                <h2 class="activity__header">Price</h2>
                                <div class="table-mobile mt-40">
                                    <div *ngFor="let type of activityInfo.types" class="table-mobile__column"><a class="table-mobile__header" href="#"> {{ type.name }}</a>
                                        <div *ngFor="let ticket of type.tickets" class="table-mobile__row flex align-items-center justify-content-between">
                                            <div class="table-mobile__item-name">{{ ticket.name }}</div>
                                            <div class="table-mobile__item-price">{{ ticket.price != 0 ? (ticket.price | currency:'EUR':'symbol':'1.2-2') : 'free' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table-desctop mt-40">
                                    <tbody>
                                    <tr class="table-desctop__row-header">
                                        <th></th>
                                        <th *ngFor="let header of activityInfo.types[0].tickets">{{ header.name }}</th>
                                    </tr>
                                    <tr *ngFor="let type of activityInfo.types" class="table-desctop__row">
                                        <td><a href="#">{{ type.name }}</a></td>
                                        <td *ngFor="let ticket of type.tickets">{{ ticket.price != 0 ? (ticket.price | currency:'EUR':'symbol':'1.2-2') : 'free' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--Detail block-->
                    <div id="details">
                        <app-details [activityInfo]="activityInfo"></app-details>
                    </div>

                    <!--Meeting point block-->
                    <div id="meeting" class="mb-3">
                        <div class="meeting activity-wrap">
                            <h2 class="activity__header">Meeting point</h2>
                            <div class="meeting__content">{{ activityInfo.meeting_point_text }}</div>
                            <div class="map-wrapper mt-30">
                                <agm-map [zoom]="15" [latitude]="activityInfo.meeting_point_latitude" [longitude]="activityInfo.meeting_point_longitude">
                                    <agm-marker [latitude]="activityInfo.meeting_point_latitude" [longitude]="activityInfo.meeting_point_longitude">
                                        <agm-info-window>{{ activityInfo.meeting_point_text }}</agm-info-window>
                                    </agm-marker>
                                </agm-map>
                            </div>
                        </div>
                    </div>

                    <div id="cancel">
                        <div class="details">
                            <div class="icon-content flex">
                                <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                                </svg>
                                <div class="icon-content__title flex-grow">Cancellation available</div>
                                <div class="icon-content__second-line"> {{activityInfo.cancelation_hours_before}} hours before</div>
                            </div>
                            <div class="icon-content flex">
                                <svg class="icon icon-exclamatory" viewBox="0 0 16 16">
                                    <g stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 7.36v.644a7 7 0 1 1-4.151-6.398"></path><path d="M15 2.404L8 9.411l-2.1-2.1"></path></g>
                                </svg>
                                <div class="icon-content__title flex-grow">Cancellation information</div>
                                <div class="icon-content__second-line" [innerHtml]="activityInfo.cancelation_descriprion | keepHtml"></div>
                            </div>
                        </div>
                    </div>

                    <!--Reviews block-->
                    <div id="review">
                        <app-reviews></app-reviews>
                    </div>
                </div>
            </div>
            <div class="activity-offers">
                <h2>You may also be interested in</h2>
                <div class="activities flex justify-content-center">
                    <app-activity-card
                            *ngFor="let activity of relatedActivities"
                            [activity]="activity"
                            (onClicked)="onFeatureClicked($event)"
                            style="width: 100%"
                    ></app-activity-card>
                </div>
                <a routerLink="/city/{{ activityInfo.city }}" class="btn btn--360 btn--center">Check out all the activities in {{ activityInfo.city_name }}</a>
            </div>
        </div>
    </section>
    <app-banner></app-banner>
    <app-calendar-slider></app-calendar-slider>
</div>
