@import 'rupture'
@import 'variables'

/deep/h2
  margin-top 30px

/deep/.ngx-gallery-image
  &.ngx-gallery-active
    z-index 100!important

agm-map
  width 100%
  height 100%

.mb-3
  margin-bottom 1rem

.spinner
  width: 100%;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  background-color: black;
  overflow-x: hidden;
  height: 100%;
  .loading
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border-top: 5px solid #53777A;
    border-bottom: 5px solid #C02942;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    animation: loading 1.2s linear infinite;
    -webkit-animation: loading 1.2s linear infinite;

.loading-small
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  100%
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);


.navigation
  background-color #fff
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05);
  +below(825px)
    display none
.nav
  height 66px
  &__item
    margin-left 13px
    margin-right 25px
    a
      display flex
      align-items center
      height 100%
      color rgba(0,0,0,.5)
      font-size 16px
      font-family font-family-md
      line-height 19px
      transition all  .3s
      padding 0 5px
      position relative
      overflow hidden
      &:after
        content ''
        display block
        width calc(100% + 6px)
        height 2px
        background-color blue
        position absolute
        bottom 0
        left -3px
        transform translateX(-100%)
        transition all  .6s
      &:hover
        color blue
        &:after
          transform translateX(0)
      &.active
        color blue
        &:after
          transform translateX(0)

section.activity-block
  background #f7f7f7
.activity-block
  padding 27px 0 139px
  background #f7f7f7
    &__content
      padding-top 21px
  .outside[_nghost-c2]
    opacity .8
  .icon-score__score
    margin-left 8px
    margin-right 0
  .sidebar__item
    .icon-content
      .icon
        margin-right 12px
    .icon-content__title
      font-weight	500
      letter-spacing 0.5px
  +below(769px)
    padding-top 0px
    padding-bottom 52px
  .top-content
    font-size 14px
    line-height 24px
    letter-spacing 1px
    font-family font-family-reg
    color #000
    +below(769px)
      margin-top 27px
  +below(767px)
    .container
      padding-left 10px
      padding-right 10px
    .activity
      padding-right 0
      padding-left 0
  .activities
    margin-bottom 46px
  .calendar
    margin-bottom 34px
  .sidebar
    .sidebar__item
      margin-bottom 40px
      .icon-content__second-line
        padding-left 4px
        margin-top 10px
    .sidebar__item + .sidebar__item
      margin-bottom 0
  .gallery-wrap
    margin-top 42px
    margin-bottom 51px
    margin-left auto
    margin-right auto
    +below(1110px)
      width 655px
    +below(1020px)
      width 740px
    +below(930px)
      width 687px
    +below(769px)
      margin-top 30px
      height 468px
      margin-bottom 59px
    +below(767px)
      width 700px
    +below(720px)
      width 100%
      height 400px
      .gallery__top
        height 100%
      .gallery__bottom
        display none
    +below(500px)
      margin-bottom 14px
  +below(500px)
    .mobile-accordion
      display none
.activity
  padding-top 20px
  +below(769px)
    padding-right 20px
    padding-left 20px
    padding-top 0
    .mt-80
      margin-top 43px
  +below(500px)
    .mt-80
      margin-top 0px
      .activity__header
        display none
      .mt-40
        margin-top 0

  &__header
    font-size 30px
    color #000
    line-height 39px
    margin-bottom 11px
    font-family "Roboto",sans-serif
    font-weight 700
    letter-spacing 0.5px
    text-align left
    +below(500px)
      font-size 18px
      font-weight 500
      line-height 21px

  .sale
    display none
    box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05);
    .sale__item:first-child
      flex-basis auto
    +below(769px)
      display flex
      padding 20px 40px
      margin 0 -40px
      background-color #fff
      .price
        display flex
        margin-top 4px
        align-items center
        margin-left 44px
        &__now
          font-size 30px
          margin-left 32px
    +below(700px)
      padding-left 10px
      padding-right 10px
    +below(570px)
      padding-top 10px
      .sale__item:first-child
        flex-basis 126px
        margin-top 3px
      .price
        display flex
        flex-direction column
        margin-top 0
        margin-left 0
        &__now
          margin-left 0 !important
          line-height 35px

  +below(767px)
    .table-desctop
      display none
    .table-mobile
      display block

    .sale
      margin-left -10px
      margin-right -10px
  +below(700px)
    .hide-mobile
      display none
    .width-full-mobile
      width 100%
      justify-content space-between
      align-items center
    .sale .sale__item:first-child
      margin-top 0
  +below(500px)
    .top-content
      margin-top 15px
    .gallery-wrap
      margin-top 44px
      height 212px

.slider-block
  height 504px
  background-color #000
  margin-top 41px
  margin-bottom 50px

/deep/.description
  .mt-60:first-child
    margin-top 0
  +below(769px)
    .mt-60
      margin-top 56px
  &__content
    font-size 14px
    line-height 24px
    letter-spacing 1px
    color #000
    font-family font-family-reg
    margin-bottom 24px
    span
      color blue
  ul
    margin-top -4px
    li
      margin-bottom 18px
      position relative
      padding-left 22px
      font-size 14px
      letter-spacing 1px
      color #000
      line-height 24px
      font-family font-family-reg
      &:last-child
        margin-bottom 0
      &:before
        content ''
        display inline-block
        width 5px
        height 5px
        background-color #000
        position absolute
        top 11px
        margin-top -2px
        left 0
        border-radius 50%
.sale
  font-size 14px
  line-height 20px
  font-family font-family-md
  color #000
  justify-content space-between
  margin-bottom 17px
  &__item:first-child
    flex-basis 120px
    margin-top 18px
    line-height 18px
.price
  &__from
    font-size 14px
    line-height 18px
    letter-spacing 0.5
    color rgba(0,0,0,.3)
    font-family: 'Roboto',sans-serif;
    display flex
    align-items center
  &__crossed
    position relative
    display inline-block
    margin-left 5px
    overflow hidden
    &:after
      content ''
      position absolute
      width 100%
      height 1px
      top 50%
      transform translateY(-50%)
      transform rotate(-16deg)
      background-color rgba(0,0,0,.3)
      display block
  &__now
    font-family: 'Roboto',sans-serif;
    font-size 48px
    font-weight 700
    letter-spacing 0.5px
    line-height 46px
    color blue
.table-mobile
  display none
.table-desctop
  width 100%
  +below(769px)
    &.mt-40
      margin-top 50px
  .activity__header
    margin-bottom 42px
  &__row-header
    background-color blue !important
    height 40px
    th
      text-align center
      font-family: 'Roboto',sans-serif;
      font-size 14px
      color #fff
      font-weight 400
  &__row
    background-color #fff
    border-bottom 1px solid rgba(0,0,0,.2)
    &:last-child
      border-bottom 0
    td
      padding 37px 0 36px 0
      &:first-child
        width 292px
    td + td
      text-align center
      font-family: 'Roboto',sans-serif;
      font-weight 400
      font-size 18px
      line-height 20px
      color blue
    td
      a
        font-family: 'Roboto',sans-serif;
        font-weight 500
        font-size 18px
        line-height 21px
        color #000
        transition all .2s
        padding-left 20px
        &:hover
          color blue

.table
  display none
  +below(769px)
    &.mt-40
      margin-top 50px
  .activity__header
    margin-bottom 42px
  &__row
    display flex
    &--header
      background-color blue !important
      height 40px
      font-family: 'Roboto',sans-serif;
      font-size 14px
      color #fff
      font-weight 400
      display flex
      justify-content flex-end
      padding 0 !important
  &__head-item:first-child
    margin-right 11px
  &__head-item:nth-child(2)
    margin-right 11px
  &__head-item
    display flex
    align-items center
    padding 0 30px
  &__row
    background-color #fff
    border-bottom 1px solid rgba(0,0,0,.2)
    padding 37px 0 36px 0
    &:last-child
      border-bottom 0
  &__content-item
    font-family: 'Roboto',sans-serif;
    font-weight 400
    font-size 18px
    line-height 20px
    color blue
    padding 0 15px
    a
      font-family: 'Roboto',sans-serif;
      font-weight 500
      font-size 18px
      line-height 21px
      color #000
      transition all .2s
      &:hover
        color blue
    &:first-child
      padding-left 21px
      padding-right 0px
      flex-basis 270px
    &:nth-child(2)
      margin-right 94px
    &:nth-child(3)
      margin-right 125px
.details
  +below(769px)
    margin-top 79px
  .activity__header
    margin-bottom 52px
  .icon-content
    margin-bottom 51px
    &:last-child
      margin-bottom 0
    &__second-line
      p:last-child
        margin-bottom 14px
  ul
    margin-top -7px
    margin-bottom 6px
  +below(500px)
    margin-top 0
    .activity__header
      display none
    .mobile-accordion
      padding-left 0
      padding-right 0
      .icon-content__desc
        padding-left 33px

/deep/.icon-content
  flex-wrap wrap
  .icon
    width 18px
    height 18px
    fill transparent
    stroke #000
    stroke-opacity 0.3
    margin-right 15px

  &__title
    font-weight 500
    color #000
    font-size 18px
    line-height 21px
    flex-basis 74px
    margin-right 20px
    font-family: 'Roboto',sans-serif;
  &__desc
    line-height 21px
    font-size 16px
    color rgba(0,0,0,.7)
    font-family: 'Roboto',sans-serif;
    font-weight 400
  &__second-line
    width 100%
    padding-left 33px
    margin-top 23px
    line-height 21px
    font-size 16px
    color rgba(0,0,0,.7)
    font-family: 'Roboto',sans-serif;
  ul
    li
      margin-bottom 20px
      position relative
      padding-left 20px
      margin-top 0
      font-family: 'Roboto',sans-serif;
      font-size 16px
      line-height 21px
      color rgba(0,0,0,.7)
      +below(500px)
        margin-bottom 0
      &:last-child
        margin-bottom 0
      &:before
        content ''
        display inline-block
        width 5px
        height 5px
        background-color #000
        border-radius 50%
        position absolute
        top 9px
        margin-top -2px
        left 0
  &__second-line
    line-height 21px
    font-size 16px
    color rgba(0,0,0,.7)
    font-family: 'Roboto',sans-serif;
    font-weight 400
    span
      color blue
.activity-wrap
  max-width 838px
  width 100%
.meeting
  +below(769px)
    margin-top 84px
    padding-left 20px
    padding-right 20px
  +below(767px)
    padding-left 0
    padding-right 0
  &__content
    font-family: 'Roboto',sans-serif;
    font-size 16px
    line-height 21px
    color rgba(0,0,0,.7)
    font-weight 500
  .map
    margin-top 28px
    width 100%
    height 369px
    background-color grey
  +below(500px)
    margin-top 0
    padding-right 0
    padding-left 0
    .map-wrapper
      height 238px
    .mobile-accordion
      padding-right 0
      padding-left 0
      padding-bottom 10px
    .activity__header
      display none

.activity-offers
  margin-top 86px
  .activities
    &__item
      +below(1150px)
        margin 0 10px 0
        &:not(:nth-child(-n+2))
          display none
      +below(767px)
        &:not(:nth-child(-n+1))
          display none
  +below(769px)
    margin-top 99px
  h2
    margin-bottom 61px
    +below(769px)
      margin-bottom 68px
  +below(500px)
    display none
.map-wrapper
  width 100%
  height 369px
  #map
    width 100%
    height 100%
.mobile-header-accordion
  display none
  margin-left -10px
  margin-right -10px
  background-color #fff
  color #000
  font-family: 'Roboto',sans-serif;
  letter-spacing 0.5px
  font-size 18px
  line-height 23px
  text-align left
  padding 27px 25px 27px 25px
  box-shadow: 0px 29px 50px rgba(0, 0, 0, 0.05)
  font-weight 500
  position relative
  cursor pointer
  transition all .3s
  margin-bottom 0
  .icon
    width 8px
    height 5px
    position absolute
    right 25px
    top 50%
    margin-top -2px
    transition all .3s
  &.active
    color blue
    .icon
      fill blue
      transform rotate(180deg)
    & + .mobile-accordion
      display block
  +below(500px)
    display block
.mobile-accordion
  +below(500px)
    padding-left 15px
    padding-right 15px
    padding-top 32px
    padding-bottom 63px
    .icon-content
      flex-wrap wrap
      margin-bottom 0
    .icon-content__desc
      flex-basis 100%
    .icon-content + .icon-content
      margin-top 27px
    .icon-content__second-line
      padding-left 32px
      ul
        margin-top -16px
        li + li
          margin-bottom 0
          margin-top 10px

.table-mobile
  &__header
    font-family: 'Roboto',sans-serif;
    font-weight 500
    color #000
    font-size 18px
    line-height 21px
    margin-bottom 31px
    display block
    transition all 0.3
    &:hover
      color blue
  &__item-name
    color #000
    font-family: 'Roboto',sans-serif;
    font-weight 400
    font-size 14px
    line-height 20px
  &__item-price
    font-family: 'Roboto',sans-serif;
    font-weight 400
    color blue
    line-height 20px
    font-size 18px
  &__row + .table-mobile__row
    margin-top 28px
  &__column + .table-mobile__column
    margin-top 64px