@import 'variables'

.destination-hero
  min-height 439px
  background-size cover
  background-position 50% 50%
  .container
    padding-top 99px
  &__heading
    font-size 56px
    line-height 79px
    font-family font-family-md
    color #fff
    text-transform uppercase
    padding-top 18px
  &__counter
    position absolute
    bottom 64px
    right 0
  &__item
    margin-left 27px
    &:first-child
      margin-left 0
  &__value
    color #fff
    font-size 42px
    font-family font-family-md
  &__description
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.01em
    font-size 15px
    color #fff
    width 85px
    margin-left 13px
