<section *ngIf="destinationCountry" class="destination-hero flex" [ngStyle]="{'background': 'url(' +  destinationCountry.avatar + ')'}">
  <div class="container">
    <app-country-search-bar [selectedCountry]="destinationCountry.code" (onCountrySelected)="selectCountry($event)"></app-country-search-bar>
    <h1 class="destination-hero__heading">{{ destinationCountry.name }}</h1>
    <div class="destination-hero__counter flex align-items-center">
      <div class="destination-hero__item flex align-items-center">
        <div class="destination-hero__value">{{ destinationCountry.excursions }}</div>
        <div class="destination-hero__description">excursions &amp; activities
        </div>
      </div>
      <div class="destination-hero__item flex align-items-center">
        <div class="destination-hero__value">{{ destinationCountry.travelers }}</div>
        <div class="destination-hero__description">travelers
        </div>
      </div>
      <div class="destination-hero__item flex align-items-center">
        <div class="destination-hero__value">{{ destinationCountry.rate | number:'0.1' }}</div>
        <div class="destination-hero__description">
          <div class="destination-hero__value-reviews">{{ destinationCountry.reviews }}</div>reviews
        </div>
      </div>
    </div>
  </div>
</section>