<div [class.activities_horizontal]="isHorizontal">
  <div class="activities__item">
    <a class="activities__header-img" href="/activity/{{ activity.id }}" [ngStyle]="{'background': 'url(' +  activity.avatar + ')' }"></a>
    <div *ngIf="isHorizontal" class="city-bottom">
      <div class="city-bottom__time">
        <svg class="icon clock" viewBox="0 0 20 20">
          <g stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"><path d="M1 10a9 9 0 0 0 9 9 9 9 0 1 0-9-9z"></path><path d="M14 11h-4V6"></path></g>
        </svg>{{ activity.duration }}
      </div>
      <div class="city-bottom__language">
        <svg class="icon icon-language" viewBox="0 0 20 20">
          <path d="M19 9.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.379 8.379 0 0 1-3.8-.9L1 19l1.9-5.7A8.38 8.38 0 0 1 2 9.5a8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path>
        </svg>English
      </div>
    </div>
    <div *ngIf="activity.skipLine" class="activities__caption">Skip the line</div>
    <div class="activities__content">
      <div class="activities__content-header"><a routerLink="/activity/{{ activity.id }}">{{ activity.name }}</a></div>
      <div *ngIf="isHorizontal" class="activities__desc">{{ activity.short_description }}</div>
      <div class="activities__content-star">
        <div class="activities__star-block flex align-items-center">
          <ngb-rating [rate]="activity.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
          <ng-template #t let-fill="fill">
            <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
              <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
            </svg>
          </ng-template>
          <span class="activities__score">{{ activity.rate | number:'1.1-1' }}</span>
          <span class="activities__reviews-value">{{ activity.reviews }} reviews</span>
        </div>
        <div class="activities__price">{{ activity.min_price | currency:'EUR':'symbol':'1.0-0' }}</div>
      </div>
      <a open-slider class="activities__btn" (click)="click()">
        <svg open-slider class="icon icon-activities-btn" viewBox="0 0 18 20" width="100%" height="100%">
          <g open-slider><path open-slider d="M2.778 2.8h12.444c.982 0 1.778.806 1.778 1.8v12.6c0 .994-.796 1.8-1.778 1.8H2.778A1.789 1.789 0 0 1 1 17.2V4.6c0-.994.796-1.8 1.778-1.8zM12.556 1v3.6M5.444 1v3.6M1 8.2h16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#fff"></path></g>
        </svg>
      </a>
    </div>
  </div>
</div>