@import 'variables'
@import 'rupture'

.sr-only
  display: none

.activities
  flex-wrap wrap
  position relative
  margin 0 auto 56px auto
  &_horizontal
    .activities__item
      display flex
      max-width 100%
      flex-direction row
      border-bottom-left-radius 5px
      margin-bottom 23px
    .activities__content
      margin 34px 20px 26px
    .activities__header-img
      width 265px
      flex-shrink 0
      height auto
      border-bottom-left-radius 5px
      border-top-right-radius 0
      position relative
      &:after
        position absolute
        content ""
        background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%)
        height 60%
        width 100%
        z-index 1
        left 0
        bottom 0
    .activities__btn
      top -13px
      right -2px
    .activities__content-star
      padding 0 11px 0 8px
    .activities__caption
      top 20px
    .activities__score
      padding 0 6px
    .activities__content-header
      display flex
      flex-direction column
      padding-right 140px
      margin-bottom 12px
      a
        font-family 'Roboto', sans-serif
        font-weight bold
        letter-spacing 0.5px
        line-height 23px
        font-size 18px
    .activities__desc
      line-height 20px
      font-size 14px
      font-family font-family-reg
      color #000
      padding-right 20px
      margin-bottom 31px
      min-height 80px
    .activities__reviews-value
      padding-left 8px
    .city-bottom
      z-index 2
      position absolute
      bottom 27px
      left 25px
      display flex
      align-items center
      &__time, &__language
        font-family 'Roboto', sans-serif
        font-weight 500
        color #fff
        font-size 14px
        display flex
        margin-right 37px
        &:hover
          color #fff
      &__language
        margin-right 0

      .icon
        width 18px
        height 18px
        fill transparent
        margin-right 7px
        stroke-opacity 0.7


  +below(1150px)
    justify-content center
  +below(1030px)
    padding-bottom 49px
  +below(769px)
    margin-bottom 0
  +below(767px)
    flex-direction column
    align-items center
    padding-bottom 15px
  &__btn
    cursor pointer
    width 56px
    height 56px
    display flex
    align-items center
    justify-content center
    background-color blue
    border-radius 50%
    position absolute
    top -48px
    right -2px
    z-index 1
    botder 0
    transition all 0.3s
    &:after
      content ''
      //display block
      position absolute
      z-index -1
      border-radius 50%
      display inline-block
      top 50%
      left 50%
      margin-top -36px
      margin-left -36px
      width calc(100% + 15px)
      height calc(100% + 15px)
      background-color  inherit
      transform scale(.75)
      opacity .5
      transition all .7s
    &:hover
      &:after
        animation buttonGrow 1.5s linear infinite
    +below(1150px)
      right -5px
  &__item
    max-width 360px
    margin-right calc((100% - (360px * 3)) / 2)
    margin-bottom 27px
    position relative
    box-shadow 0px 4px 25px rgba(0, 0, 0, 0.1)
    transition all .3s
    display flex
    flex-direction column
    justify-content space-between
    background-color #fff
    border-bottom-right-radius 5px
    border-bottom-left-radius 5px
    border-top-left-radius 5px
    border-top-right-radius 5px
    font-family 'Roboto', sans-serif
    &:nth-child(3n)
      margin-right 0
    +below(1150px)
      max-width 336px
      margin 0 10px 19px 10px
      &:nth-child(3n)
        margin-right 10px
    +below(767px)
      max-width 300px
      margin-right 0 !important
      margin-left 0
      margin-bottom 10px

    &:hover
      box-shadow 0px 4px 25px rgba(0, 0, 0, 0.2)
  &__header-img
    height 214px
    display block
    border-top-right-radius 5px
    border-top-left-radius 5px
    background-size cover!important
  &__content
    background-color #fff
    //padding 18px 24px 0 24px
    margin 18px 24px 25px 24px
    position relative
    border-radius 5px
    display flex
    flex-direction column
    flex-grow 1
    +below(1150px)
      margin-right 18px
      margin-left 18px
    +below(767px)
      margin 18px 27px 30px 12px
    &-header
      font-weight bold
      padding-right 78px
      margin-bottom 36px
      display flex
      flex-grow 1
      +below(767px)
        padding-right 10px
      a
        color currentColor
        font-weight bold
        line-height 21px
        font-size 16px
        letter-spacing 0.5px
        transition all .2s
        &:hover
          color blue
  &__price
    font-size 18px
    line-height 20px
    color blue
    font-weight 400
  &__content-star
    display flex
    justify-content space-between
    align-content center
    +below(767px)
      padding-right 10px
  &__reviews-value
    padding-left 4px
    color rgba(0,0,0,0.3)
    font-size 16px
    line-height 17px
    font-family font-family-reg
  &__score
    font-size 18px
    color #2B2B2B
    padding 0 8px
    font-weight 400
  &__caption
    padding 7px 10px
    background rgba(118, 54, 255, 0.7)
    border-radius 3px
    display inline-block
    color #fff
    position absolute
    top 17px
    left 24px
    font-size 10px
    text-transform uppercase
    letter-spacing 0.05em
    font-family font-family-md
    +below(769px)
      left 15px
      top 19px
  &--added
    .activities__item
      max-width 300px


.icon-star
  width 12px
  height 12px
  fill rgba(196, 196, 196, 0.3)
  &.active
    fill #F5C973
.icon-activities-btn
  width 20px
  height 20px
  fill blue

@keyframes buttonGrow
  0% {
    transform scale(0.75)
    opacity 0.5
  }
  20% {
    transform scale(0.8)
  }
  60% {
    transform scale(0.95)
    opacity 0.5
  }
  95%,100% {
    transform scale(1)
    opacity 0
  }
