@import 'variables'

.ttl
  font-family font-family-md
  margin 0
  margin-bottom 34px

.video-box
  position relative

.video--testimonials
  width 100%
  height 513px

.btn--play
  position absolute
  z-index 1
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  img
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    margin-left 6px

  &.hidden
    display none