<div class="container">
  <h2 class="ttl">Testimonials</h2>
  <div class="video-box">
    <vg-player (onPlayerReady)="onPlayerReady($event)">
      <video
           [vgMedia]="media"
           #media id="singleVideo"
           preload="auto"
           (click)="videoClick()"
           class="video video--testimonials" poster="assets/images/testimonials.jpg"
      >
        <source src="assets/uploads/testimonials-demo.mp4" type="video/mp4">
      </video>
    </vg-player>
    <button class="btn btn--play" [class.hidden]="isPlayed" (click)="play()" type="submit"><img src="assets/images/arrow.png"/>
    </button>
  </div>
</div>