@import 'variables'

.btn
  height 30px
  width 105px
  padding 12px
  line-height 10px
  &[disabled]
    opacity 0.5

strong
  font-weight 800

/deep/.ngb-dp-day
  &.hidden
    display block!important

/deep/ngb-datepicker
  border: none!important
  width: 100%
  outline none
  font-family Roboto

  .ngb-dp-day
    cursor: pointer

    &.disabled, &.hidden
      cursor: default


    .btn-light
      text-align: center
      width: 32px
      height: 32px
      line-height: 33px
      background: transparent

    .outside
      opacity: 0.3

    &:not(.disabled)
      .btn-light
        transition: all 0.3s
        &:hover
          background-color: hover-color
          color: #fff

      .btn-light.bg-primary
        color: selected-text-color!important
        background-color: selected-background-color!important

/deep/ngb-timepicker
  display inline-block
  padding 5px