<div class="selector">
    <span>Selected date: <strong>{{ selectedDate ? formatDate(selectedDate) : '-' }}</strong></span>
    <div class="timeWrapper">
        <div *ngFor="let dayTime of dayTimes; let i = index" class="timePickerWrap">
            <ngb-timepicker [(ngModel)]="dayTimes[i]" [spinners]="false" (ngModelChange)="syncDates()"></ngb-timepicker>
            <button (click)="removeDate(i)">X</button>
        </div>
        <button [attr.disabled]="selectedDate ? null : 'disabled'" class="btn btn-primary" (click)="addDate()">+ Add time</button>
    </div>
</div>
<ngb-datepicker
        [navigation]="'none'"
        [outsideDays]="'collapsed'"
        [displayMonths]="12"
        [firstDayOfWeek]="1"
        (select)="selectDate($event)"
>
</ngb-datepicker>