<div class="review">
  <div class="review__ttl">{{ review.header }}</div>
  <div class="review__content">
    <p>{{ review.text }}</p>
    <div class="review__star-block flex align-items-center">
      <ngb-rating [rate]="review.rate / 2" [readonly]="true" [max]="5" [starTemplate]="t"></ngb-rating>
      <ng-template #t let-fill="fill">
        <svg class="icon icon-star active" [class.active]="fill === 100" viewBox="0 0 12 12">
          <path d="M7.208.73L8.33 3.053l2.548.375c1.049.15 1.498 1.423.749 2.247L9.755 7.398l.45 2.548c.15 1.049-.9 1.873-1.874 1.348L6.01 10.171l-2.323 1.198c-.974.525-2.097-.3-1.873-1.348l.45-2.623L.39 5.6c-.75-.749-.375-2.023.749-2.247l2.547-.375L4.81.73a1.349 1.349 0 0 1 2.398 0z"/>
        </svg>
      </ng-template>
      <span class="review__name">{{ review.author }}</span>
    </div>
  </div>
</div>