<div class="container flex">
  <div class="offers">
    <div class="offers__header">Reliable airport transfers <br/>with fixed price
    </div>
    <ul class="offers__list">
      <li class="offers__item">Reliable and professional service<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Fixed rates, private transfers<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Door to door transfers<span class="offers__circle"></span>
      </li>
      <li class="offers__item">Customer service, exceptional<span class="offers__circle"></span>
      </li>
    </ul>
    <A class="btn-offers" href="#">Book now</A>
  </div>
</div>
