@import 'variables'

.offers
  width 515px
  background-color #fff
  box-shadow 0px 4px 50px rgba(0, 0, 0, 0.15)
  padding: 58px 27px 52px 74px;
  margin-top 78px
  margin-bottom 114px
  &__header
    font-size 24px
    line-height 34px
    font-family font-family-md
    color #000
    padding-bottom 28px
  &__list
    margin 0
  &__item
    padding-left 20px
    line-height 25px
    font-size 18px
    color #000
    padding-bottom 26px
    position relative
    font-family font-family-reg
    &:last-child
      padding-bottom 43px
  &__circle
    width 10px
    height 10px
    display inline-block
    background blue
    border-radius 50%
    position absolute
    top 2px
    left 0
    margin-top 5px
  .btn-offers
    width 172px
    height 48px
    display flex
    align-items center
    justify-content center
    text-align center
    border-radius 2px
    font-family 'Roboto', sans-serif
    font-weight 500
    letter-spacing 0.1em
    text-transform uppercase
    color #fff
    background-color blue
    &:hover
      box-shadow 0px 4px 10px rgba(255, 76, 76, 0.5)
      color #fff