<div class="container">
  <div class="row">
    <div class="col-6">
      <div *ngIf="!(countriesList$ | async)" class="loading-small"></div>
      <div *ngIf="countriesList$" class="list-group">
        <a
                *ngFor="let country of (countriesList$ | async)"
                class="list-group-item list-group-item-action "
                [class.active]="country.id == selectedCountry?.id"
                (click)="selectCountry(country)"
        >{{ country.name }}</a>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="!selectedCountry" class="alert alert-primary" role="alert"> Please select country</div>
      <div *ngIf="!(citiesList$ | async) && selectedCountry" class="loading-small"></div>
      <div *ngIf="citiesList$" class="list-group">
        <a
                *ngFor="let city of (citiesList$ | async)"
                class="list-group-item list-group-item-action "
                [class.active]="city.id == selectedCity?.id"
                (click)="selectCity(city)"
        >{{ city.name }}</a>
      </div>
    </div>
  </div>
  <div class="row mt-15 mb-30">
    <div class="col-6">
      <app-edit-country *ngIf="selectedCountry" [country]="selectedCountry" (onCountrySaved)="reloadCountryList()"></app-edit-country>
    </div>
    <div class="col-6">
      <app-edit-city *ngIf="selectedCity" [city]="selectedCity" (onCitySaved)="reloadCityList()"></app-edit-city>
    </div>
  </div>
</div>
