.row
  display -ms-flexbox
  display -webkit-box
  display flex
  -ms-flex-wrap wrap
  flex-wrap wrap
  margin-right -15px
  margin-left -15px

  .col-6
    -ms-flex 0 0 50%
    -webkit-box-flex 0
    flex 0 0 50%
    max-width 50%
    position relative
    width 100%
    min-height 1px
    padding-right 15px
    padding-left 15px

    .list-group
      display -ms-flexbox
      display -webkit-box
      display flex
      -ms-flex-direction column
      -webkit-box-orient vertical
      -webkit-box-direction normal
      flex-direction column
      padding-left 0
      margin-bottom 0

      &-item
        position relative
        display block
        padding 0.75rem 1.25rem
        margin-bottom -1px
        background-color #fff
        border 1px solid rgba(0, 0, 0, 0.125)

        &:first-child
          border-top-left-radius 0.25rem
          border-top-right-radius 0.25rem

        &:last-child
          margin-bottom 0
          border-bottom-right-radius 0.25rem
          border-bottom-left-radius 0.25rem

        &:hover
          color #495057
          text-decoration none
          background-color #f8f9fa

        &-action
          width 100%
          color #495057
          text-align inherit

        &.active
          z-index 2
          color #fff
          background-color #007bff
          border-color #007bff


.alert
  position relative
  padding 0.75rem 1.25rem
  margin-bottom 1rem
  border 1px solid transparent
  border-radius 0.25rem

  &.alert-primary
    color #004085
    background-color #cce5ff
    border-color #b8daff

.loading-small
  position relative
  width 50px
  height 50px
  border-radius 30px
  border-top 5px solid #53777A
  border-bottom 5px solid #C02942
  -webkit-box-sizing border-box
  box-sizing border-box
  left 50%
  animation loading 1.2s linear infinite
  -webkit-animation loading 1.2s linear infinite

@keyframes loading
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  100%
    -webkit-transform rotate(1turn)
    transform rotate(1turn)