<section>
  <div class="container">
    <div *ngIf="block == 'registration-completed'">
      <h2>Registration complete</h2>
      <p>
        Please check your email inbox for further instructions to complete registration.
      </p>
    </div>
    <div *ngIf="block == 'reset-completed'">
      <h2>Password is reset</h2>
      <p>
        To use your new credentials please <a [routerLink]="" [queryParams]="{modal: 'login'}">login</a>
      </p>
    </div>
    <div *ngIf="block == 'reset-requested'">
      <h2>Password reset is requested</h2>
      <p>
        Please follow instructions sent in your email to complete password reset.
      </p>
    </div>
    <div *ngIf="block == 'email-verified'">
      <h2>Your email has been successfully verified. Please <a [routerLink]="" [queryParams]="{modal: 'login'}">login</a></h2>
    </div>
    <div *ngIf="block == 'unauthorized'">
      <h2>Access denied</h2>
      <p>
        You are not allowed to access this area.
      </p>
    </div>
  </div>
</section>
