<div *ngIf="isLoading" class="spinner"><div class="loading"></div></div>
<app-hero [destinationCountry]="destinationInfo | async" (onCountrySelected)="selectCountry($event)"></app-hero>
<app-category-filter></app-category-filter>
<section class="features">
  <div class="mb-110">
    <app-destination-carousel
            [showAllButton]="false"
            [header]="'Destination in ' + (destinationInfo | async)?.name"
            [headerClass]="'features__header flex justify-content-center destination-header'"
            [wideCards]="true"
            [destinations]="(destinationInfo | async)?.destinations"
    ></app-destination-carousel>
  </div>
  <app-featured-activities [countryCode]="country"></app-featured-activities>
</section>
<section class="banner">
  <div class="container flex">
    <div class="offers">
      <h3 class="offers__banner offers__banner--destination">Transfer services:
        <div class="offers__banner--destination-subtitle">safe, reliable and on time</div>
      </h3>
      <ul class="list list--price">
        <li class="list__item">
          <div class="list__city">Krakow
          </div>
          <div class="list__value">€25
          </div>
        </li>
        <li class="list__item">
          <div class="list__city">Warsaw
          </div>
          <div class="list__value">€85
          </div>
        </li>
      </ul>
      <a class="btn btn--destination" href="#">Book a transfer</a>
    </div>
  </div>
</section>
<app-calendar-slider></app-calendar-slider>