<div class="container">
  <h1>Data protection and privacy policy</h1>
  <h3>1.- Introduction and right to information</h3>
  <p>This website is property of Civitours. The company will hereinafter be collectively referred to as the "CIVITOURS".</p>
  <p>Protecting the security and privacy of your personal information is very important to CIVITOURS. This is why the Entity fully complies with the current legislation on Data Protection so that your personal information is kept safe.</p>
  <p>This data protection act regulates the access and use of the website service that CIVITOURS makes available to Users interested in the services offered by the Entity.</p>
  <h3>2.- Processing of personal data and how we use your information</h3>
  <p>CIVITOURS may collect Users’ personally identifiable information by registration forms, to provide the services offered on the Website, or put in contact the Users with our service providers that sometimes CIVITOURS offers through the Website as an intermediary.</p>
  <p>In some cases, CIVITOURS may also collect Users’ personal data, so that they can register themselves on the Website and publish their opinions or comments.</p>
  <h4>2.1.- How does CIVITOURS use your information?</h4>
  <p>In case CIVITOURS collects User’s personal information, these will be added to our personal data files that are owned and controlled by the entity in compliance with Spanish Law 15/1999 of 13 December, Protection of Personal Data and Law 34/2002, of 11 July, Services Information Society and Electronic Commerce and Law 9/2014, of 9 May, on Telecommunications.</p>
  <p>Your personal data collected by CIVITOURS may be used for any of the following purposes: (i) to provide the services that you have requested via the website, (ii) to confirm your identity in case the website allows registration and (iii) to provide you with information about our products and services and provide you with information or opportunities of third parties we believe might be relevant to you.</p>

  <p>In relation to sending you information about our products, your personal information will be used to send you newsletters and commercial and promotional communications related to the services of the Entity or of third parties by letter, phone, email, SMS/ MMS, or by other means of electronic communication established by Law 15/1999, of 13 December, Law 34/2002 of 11 July, Services Information Society and Electronic Commerce and Law 9/2014, of 9 May, on Telecommunications.</p>
  <p>By accepting this privacy policy, the User accepts to be sent third party information or the Entity’s information by CIVITOURS, related to the following topics:</p>
  <p>
    Leisure: Travel and Tourism, Communication and Entertainment.<br>
    Hotel industry and restoration.
  </p>
  <h4>2.2. Who may CIVITOURS disclose the personal information to?</h4>
  <p>Your personal information may be disclosed to third companies, service providers, in order to be able to provide some of the services offered by CIVITOURS as intermediary. Likewise, these third parties may send you advertising and commercial offers by letter, telephone, email, SMS / MMS, or other means of electronic communication, in relation to the sectors specified in section 2.1. of this Privacy Policy.</p>
  <h4>2.3. Data processing for statistical purposes</h4>
  <p>We inform you that you also consent to your data being processed for profiling and for the segmentation of your information. This statistical information may be used to measure the use and traffic of Users in the Entity’s website.</p>
  <h3>3.- Third Party Sites</h3>
  <p>Keep in mind that in order to book and / or process reservations of some of the services offered by CIVITOURS, the Website may redirect you to other websites, which are owned by the Entity’s collaborators and who will process the requested service. In these cases, the Users’ personal information will be added to the collaborator’s personal data files. We encourage you all to be aware and read the privacy statements of each and every website before purchasing a service. CIVITOURS does not control the websites of third parties that are linked to the Entity’s website and cannot be held responsible for the privacy practices of other websites.</p>
  <h3>4.- Accuracy of the data and mandatory or optional information provided by the User</h3>
  <p>The User guarantees that his/ her personal information is true, and to notify CIVITOURS of any changes. The User is responsible for the veracity of the data provided and the Entity has the right to no longer provide a service to any User who has provided false information, without prejudice to other actions stipulated by law.</p>
  <h3>5.- Rules of conduct</h3>
  <p>CIVITOURS will delete Users’ registration who:</p>
  <ol>
    <li>include or promote illegal, immoral, obscene or harmful material</li>
    <li>promote any type of discrimination</li>
    <li>Submit bulk, junk, or spam e-mail or newsgroup communications when they have not been requested</li>
    <li>violate any third parties’ intellectual or industrial property rights</li>
  </ol>
  <p>Likewise, the User will refrain from using and collecting data from the mailing lists that can be accessed through the information and services contained in the Website. These are used for carrying out activities for promotional or advertising purposes. The User will also refrain from sending any kind of commercial communications, which have not been requested or previously permitted by CIVITOURS and / or the Users of the Website.</p>
  <h3>6.- Exercising the right to access, rectify, cancel or oppose the Personal Data held on the file</h3>
  <p>The User can exercise his/her right to access, rectify, cancel or oppose his/her personal data held by THE CIVITOURS by writing an email to civitours@civitours.com, or else by writing a letter to Civitours</p>
  <p>To exercise these rights, it is necessary to you prove your identity by sending a photocopy of your Identity Card or passport.</p>
  <h3>7.- Security</h3>
  <p>CIVITOURS informs you that all the technical and organisational measures needed for safeguarding the security of the information have been taken, in compliance with the LOPD and the Data Protection Act and Royal Decree 1720/2007, of December 21, which approves the Regulation of development of the LOPD containing personal data. The Entity carefully protects your personal information from loss, destruction, falsification, manipulation, and unauthorized disclosure, use or modification. Nevertheless, we inform you that the Internet security measures are not impregnable.</p>
  <p>CIVITOURS takes precautions to ensure the security of your personal information, as required by current regulations on security measures for files containing personal data, as well as to ensure a safe treatment of the information when a cession of the information takes place.</p>
  <h3>8.- Changes to this privacy policy</h3>
  <p>CIVITOURS reserves the right to amend its data protection policy in the future at its own discretion. For this reason, please check the privacy policy regularly so you are aware of the latest version of the Entity’s Privacy Policy.</p>
  <h3>9.- Acceptance and Consent</h3>
  <p>The User declares that he/she has been informed of the conditions regarding their data protection and accept and consent to their personal information being processed by CIVITOURS for the purposes already indicated in this Privacy Policy.</p>
</div>
