@import 'variables'
@import 'rupture'

header
  position absolute
  top 0
  left 0
  width 100%
  z-index 100
.head-top
  background-color transparent
  color #fff
  border-bottom 0.5px solid rgba(255,255,255,.5)
  box-sizing border-box
.head-top--scroll
  position fixed
  top 0
  left 0
  background-color blue
  &.head-top
    border-bottom 0.5px solid #fff
  .logo
    border-right 0.5px solid #fff
  .options
    &__item
      &:last-child
        border-right 1px solid rgba(255, 255, 255, 0.8)

  .menu-main__item a:hover
    color rgba(255, 255, 255, 0.5)
  .top__item--active
    color rgba(255, 255, 255, 0.5)
  .menu-main__btn
    &:hover
      color #fff
  .options__btn-sign
    &:hover
      background blue
      color #fff
  .options__link
    &:hover
      background blue
      color #fff
.logo
  padding 18px 144px 18px 65px
  font-size 30px
  color #ffffff
  font-family font-family-md
  text-transform uppercase
  border-right 0.5px solid rgba(255,255,255,.5)
  +below(1650px)
    font-size 20px
    padding 17px 50px 17px 50px
  &:hover
    color #fff
.menu-main
  flex-grow 1
  justify-content flex-end
  display flex
  align-items stretch
  padding-right 80px
  &__list
    margin 0
    padding-right 10px
    display flex
    flex-grow 1
    align-items stretch
    justify-content flex-end
  &__item
    display flex
    align-items stretch
    margin-top 0
    a
      padding 0 54px
      display flex
      flex-grow 1
      align-items center
      justify-content center
      color #fff
      font-size 20px
      font-family font-family-md
      text-transform uppercase
      letter-spacing 0.15em
      +below(1650px)
        font-size 14px
        padding 0 30px
      &:hover
        color blue
    &.active
      background-color transparent
      a
        color rgba(255,255,255,0.5)
/deep/ .options
  margin 0
  &__btn-sign
    cursor pointer
    padding: 0 42px
    border-right 1px solid rgba(255,255,255,.5)
    border-left 1px solid rgba(255,255,255,.5)
    color #fff
    text-transform uppercase
    font-size 20px
    font-family font-family-md
    letter-spacing 0.15em
    +below(1650px)
      font-size 14px
    +below(1030px)
      font-size 20px
      font-family font-family-bold
    +below(600px)
      font-size 13px
      border 0
      padding 0 2px

    &:hover
      color #ffffff
      background-color blue

  &__icon
    position relative
    padding 0 10px
  &__product-value
    position absolute
    color #fff
    top -8px
    right -6px
    min-width 17px
    min-height 17px
    background-color violet
    line-height 17px
    text-align center
    font-size 12px
    font-weight bold
    border-radius 50%
    font-family 'Roboto', sans-serif
    display block
  &__name
    max-width 0
    white-space nowrap
    overflow hidden
    font-size 20px
    text-align center
    text-transform uppercase
    color #fff
    letter-spacing 0.23em
    font-family font-family-md
    display inline-block
    transition all .8s
    +below(1650px)
      font-size 14px
    +below(1030px)
      display none
    +below(769px)
      font-size 13px
  &__link
    padding 0 15px
    cursor pointer
    transition width .8s
    &:hover
      background-color blue
      +below(600px)
        background transparent
    +below(600px)
      padding 0 10px
  &__item
    margin 0
    height 100%
    &:last-child
      border-right 1px solid rgba(255,255,255,.5)
      position relative
      +below(600px)
        border-right 0
    &.active
      background-color blue
      position relative
      +below(600px)
        background transparent
      .options__product-value
        display inline-block
      .dropdown__basket
        visibility visible
        opacity 1
        pointer-events auto
        filter none
      .options__name
        max-width 263px
        margin-left 5px