<header class="head-top flex justify-content-between {{ classAddition }}" ><a routerLink="/" class="logo flex align-items-center" title="CIVITOURS">civitours		</a>
    <nav class="menu-main flex">
        <ul class="menu-main__list flex" id="menu">
            <li class="menu-main__item active"><a routerLink="/destinations" routerLinkActive="active">destinations</a>
            </li>
            <li class="menu-main__item"><a href="#">about us</a>
            </li>
            <li class="menu-main__item"><a href="#">faq		</a>
            </li>
        </ul>
        <ul class="options flex">
            <app-login-menu></app-login-menu>
            <app-basket></app-basket>
        </ul>
    </nav>
</header>