@import 'variables'

.container
  margin-bottom 100px
  .form
    display flex
    width 100%
    margin-top 47px

    .input-box
      height 100%
      display flex
      width 100%
      flex-wrap wrap

      .input
        border-radius 2px 0 0 2px

      .btn
        border-radius 0 2px 2px 0

.h1
  text-transform uppercase

.h3
  font-family font-family-reg
  margin-top 15px