<div  class="mobile-accordion">
  <h2 class="activity__header">Price</h2>
  <button class="btn btn-primary col" (click)="addColumn()">+ Add col</button>
  <div class="table-wrap">
    <table class="table-desctop">
      <tbody>
      <tr class="table-desctop__row-header">
        <th></th>
        <th *ngFor="let header of typesValue[0].tickets; let i = index;">
          <label for="isAdult{{ i }}">Is Adult</label>
          <input type="checkbox" id="isAdult{{ i }}" [(ngModel)]="header.is_adult">
          <input class="form-control price-header" [(ngModel)]="header.name">
          <button (click)="removeColumn(i)">X</button>
        </th>
      </tr>
      <tr *ngFor="let type of typesValue; let i = index;" class="table-desctop__row">
        <td>
          <input class="form-control type-name" [(ngModel)]="type.name">
          <button (click)="removeRow(i)">X</button>
        </td>
        <td *ngFor="let ticket of type.tickets">&euro; <input type="number" class="form-control price-value" [(ngModel)]="ticket.price"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="addRow()">+ Add row</button>
</div>
